@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
body {
  font-size: 14px;
  font-family: "Noto Sans KR", "NanumSquare", "sans-serif";
  line-height: 1.5;
  letter-spacing: -1px;
  color: #333;
}

section {
  width: 100%;
}

section:not(:last-child) {
  margin-bottom: 100px;
}

section:first-child {
  margin-bottom: 190px;
}

section .title {
  font-size: 30px;
  font-weight: 700;
}

section .title span {
  color: #4d8fd0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.view_icon {
  display: block;
  width: 130px;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 19.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.view_icon:hover {
  color: #fff;
  background-color: #4d8fd0;
  border: 2px solid #4d8fd0;
}

.item_more_icon {
  display: block;
  width: 130px;
  height: 40px;
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
  text-align: center;
  line-height: 38px;
  border-radius: 19.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item_more_icon:hover {
  color: #fff;
  background-color: #4d8fd0;
  border: 1px solid #4d8fd0;
}

.circleL_icon {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.circleL_icon i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circleR_icon {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.circleR_icon i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
