#detail_page {
  padding: 50px 0 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
}

#detail_page .box_desc {
  width: 910px;
}

#detail_page #detail_tit .pack_tag {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: #4d8fd0;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
}

#detail_page #detail_tit h2 {
  padding: 30px 0;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 2px solid #4d8fd0;
}

#detail_page #detail_tit .pack_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

#detail_page #detail_tit .pack_num p {
  color: #9d9d9d;
}

#detail_page #detail_tit .pack_num p span:nth-child(1) {
  margin-right: 40px;
  position: relative;
}

#detail_page #detail_tit .pack_num p span:nth-child(1)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #ccc;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#detail_page #detail_tit .pack_num .pack_info_btn {
  letter-spacing: -1px;
  border: none;
  outline: none;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  padding: 6px;
  color: #fff;
  background: #4d8fd0;
}

#detail_page .packimg-swiper {
  width: 1200px;
  height: 300px;
  overflow: hidden;
}

#detail_page .packimg-swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detail_page .packimg-swiper .swiper-wrapper .swiper-slide {
  height: 300px;
  width: 32%;
}

#detail_page .packimg-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 300px;
}

#detail_page .box_covid {
  margin-top: 40px;
}

#detail_page #detail_wrap {
  padding-top: 60px;
  max-width: 900px;
}

#detail_page #detail_wrap .tit_style {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}

#detail_page #detail_wrap #schedule {
  width: 100%;
}

#detail_page #detail_wrap #schedule .trip_schedule_box {
  border-top: 1px solid #333;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .sceh_tit {
  width: 20%;
  font-size: 16px;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con {
  width: 80%;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float_name {
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
  position: relative;
  line-height: 18px;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float_name::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("/src/img/detailpage/KE.png") center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box .flight_number {
  padding-top: 22px;
  position: relative;
  color: #4d8fd0;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box .flight_number::before {
  content: "";
  display: block;
  width: 27px;
  height: 16px;
  background: url("/src/img/detailpage/ico_flight.jpg");
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box .flight_regular {
  padding-left: 20px;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box .flight_regular p span {
  margin-left: 30px;
  position: relative;
}

#detail_page #detail_wrap #schedule .trip_schedule_box li .traffic_con .float-schedule .air_box .flight_regular p span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#detail_page #product_price {
  padding: 60px 0;
}

#detail_page #product_price .tit_style {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}

#detail_page #product_price table {
  width: 100%;
}

#detail_page #product_price table thead {
  height: 70px;
}

#detail_page #product_price table thead tr {
  border-top: 1px solid #333;
  background: rgba(195, 225, 255, 0.3);
  font-size: 16px;
}

#detail_page #product_price table thead tr th {
  font-weight: normal;
  line-height: 1.2;
}

#detail_page #product_price table thead tr th span {
  display: block;
  color: #777;
  font-size: 15px;
}

#detail_page #product_price table tbody {
  border-bottom: 1px solid #ccc;
}

#detail_page #product_price table tbody tr {
  text-align: center;
}

#detail_page #product_price table tbody tr td {
  padding: 15px 0;
}

#detail_page #product_price table tbody .total_price td:not(:nth-child(1)) {
  color: #4d8fd0;
  font-size: 17px;
  font-weight: 500;
}

#detail_page #product_price .price_matter {
  padding-top: 20px;
}

#detail_page #product_price .price_matter li {
  padding-left: 10px;
  position: relative;
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

#detail_page #product_price .price_matter li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4d8fd0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#detail_page #product_price .price_matter li:nth-child(1)::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4d8fd0;
  position: absolute;
  top: 11px;
  left: 0;
}

#detail_page #infomation {
  padding-bottom: 60px;
}

#detail_page #infomation .tit_style {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}

#detail_page #infomation .info {
  border-bottom: 1px solid #ccc;
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detail_page #infomation .info .incl_tit {
  display: block;
  width: 20%;
  padding: 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#detail_page #infomation .info .incl_tit span {
  font-size: 18px;
  position: relative;
  text-align: center;
}

#detail_page #infomation .info .incl_tit span::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#detail_page #infomation ul {
  width: 80%;
  padding-left: 30px;
}

#detail_page #infomation ul li {
  padding-bottom: 20px;
  position: relative;
}

#detail_page #infomation ul li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4d8fd0;
  position: absolute;
  top: 9px;
  left: -10px;
}

#detail_page #infomation ul li span {
  display: block;
}

#detail_page #infomation .include {
  border-top: 1px solid #333;
}

#detail_page #infomation .include span::before {
  background: url("/src/img/detailpage/info_circle.png") center center no-repeat;
}

#detail_page #infomation .not_include span::before {
  background: url("/src/img/detailpage/info_x.png") center center no-repeat;
}

#detail_page #infomation .not_include ul li::before {
  background: #d00000;
}

#detail_page #reservation {
  padding-bottom: 60px;
}

#detail_page #reservation .tit_style {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}

#detail_page #reservation table {
  width: 100%;
}

#detail_page #reservation table tbody {
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
}

#detail_page #reservation table tbody th {
  padding: 15px 30px;
  text-align: left;
  background: rgba(195, 225, 255, 0.3);
  font-weight: normal;
}

#detail_page #reservation table tbody td {
  padding: 15px 0 15px 30px;
}

#detail_page #product_info {
  padding-bottom: 60px;
  position: relative;
}

#detail_page #product_info .tit_style {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}

#detail_page #product_info .box_detail_prod {
  position: relative;
  overflow: hidden;
  max-height: 403px;
}

#detail_page #product_info .box_detail_prod .box_editor {
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 15px;
  color: #555;
  line-height: 24px;
}

#detail_page #product_info .box_detail_prod .box_editor img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

#detail_page #product_info .box_detail_prod .btn_more {
  width: 100%;
  display: block;
  height: 54px;
  border: 1px solid #4d8fd0;
  border-radius: 0;
  background: #fff;
  color: #4d8fd0;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 500;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#detail_page #product_info .box_detail_prod .btn_more::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: url("/src/img/icon/ico_more_prod.png") no-repeat;
  content: '';
}

#detail_page #product_info .box_detail_prod .btn_more span {
  position: static;
}
