#notice {
  width: 100%;
  height: 150vh;
  padding-top: 40px;
  letter-spacing: -1px;
}

#notice .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notice .container #notice_left {
  width: 22%;
  height: 100%;
  padding-right: 40px;
}

#notice .container #notice_left #service_side_menu {
  height: auto;
  border: 1px solid #9d9d9d;
  padding-top: 20px;
}

#notice .container #notice_left #service_side_menu h2 {
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

#notice .container #notice_left #service_side_menu ul li {
  font-size: 16px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}

#notice .container #notice_left #service_side_menu ul li:last-child {
  border-bottom: 0px;
}

#notice .container #notice_left #service_side_menu ul li a {
  padding-left: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

#notice .container #notice_left #service_side_menu ul li.on {
  background-color: #4d8fd0;
  color: #fff;
}

#notice .container #notice_left #service_side_menu ul li:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#notice .container #notice_right {
  width: 78%;
  height: 100vh;
}

#notice .container #notice_right #notice_title {
  width: 100%;
  border-bottom: 2px solid #333;
}

#notice .container #notice_right #notice_title h1 {
  font-size: 33px;
  padding: 10px 0;
}

#notice .container #notice_right .brd_search {
  margin: 40px 0;
  text-align: center;
}

#notice .container #notice_right .brd_search .txt_brd_search {
  width: 305px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #ddd;
  vertical-align: top;
  margin: 0 -4px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

#notice .container #notice_right .brd_search .btn_nor {
  display: inline-block;
  width: 110px;
  height: 38px;
  line-height: 38px;
  margin: 0 7px;
  background: #555;
  font-size: 14px;
  color: #fff;
  text-align: center;
  vertical-align: top;
}

#notice .container #notice_right .tab_page_cont {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#notice .container #notice_right .tab_page_cont li {
  display: table-cell;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ddd;
  border-left: none;
  border-bottom: 1px solid #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7;
  text-align: center;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

#notice .container #notice_right .tab_page_cont li.on {
  border: 1px solid #222;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-indent: -1px;
  color: #222;
}

#notice .container #notice_right .tab_page_cont li a {
  display: block;
  width: 100%;
  height: 60px;
}

#notice .container #notice_right .tab_sub {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#notice .container #notice_right .tab_sub li {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("/src/img/icon/bl_comment_bar.png") no-repeat 0 50%;
  color: #777;
  text-align: center;
}

#notice .container #notice_right .tab_sub li:first-child {
  padding-left: 0;
  background: none;
}

#notice .container #notice_right .tab_sub span {
  display: block;
  width: 100%;
}

#notice .container #notice_right .tab_sub span.on {
  display: block;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ffc72c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222;
  z-index: 1;
}

#notice .container #notice_right .tab_sub::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  content: '';
}

#notice .container #notice_right .cont_faq {
  position: relative;
  margin: 40px 0 30px;
  border-top: 1px solid #ddd;
}

#notice .container #notice_right .cont_faq .box_accordion .tit_faq {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 70px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  cursor: pointer;
}

#notice .container #notice_right .cont_faq .box_accordion .tit_faq .link_ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  vertical-align: inherit;
  text-align: left;
  overflow: hidden;
}
