#detail_page {
  margin-top: 50px;
  margin-bottom: 0;
}

#detail_page .content_block {
  position: relative;
  width: 1200px;
  padding-bottom: 100px;
  margin: auto;
}

#detail_page .content_block::after {
  display: block;
  content: ' ';
  clear: both;
}

#detail_page .content_block .content {
  float: right;
  width: 910px;
  min-height: 800px;
}

#detail_page .content_block .content .tit_con_title {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 32px;
  color: #222;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #222;
}

#detail_page .content_block .content .brd_search {
  margin: 40px 0;
  text-align: center;
}

#detail_page .content_block .content .brd_search button {
  display: block;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

#detail_page .content_block .content .brd_search .select {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}

#detail_page .content_block .content .brd_search .select .selectIn {
  position: relative;
  min-width: 100px;
  max-width: 700px;
  width: 100% !important;
}

#detail_page .content_block .content .brd_search .select .selectIn .currSel {
  position: relative;
  max-width: 700px;
  height: 38px;
  line-height: 36px;
  padding-right: 20px;
  border: 1px solid #ddd;
  background: #fff url("src/img/icon/bl_sel_arrow.png") no-repeat 100% 50%;
  text-indent: 10px;
  overflow: hidden;
}

#detail_page .content_block .content .brd_search .select .selectIn .list {
  position: absolute;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#detail_page .content_block .content .brd_search .select .selectIn .list button {
  min-height: 38px;
  padding: 0 10px;
  background: #fff;
}

#detail_page .content_block .content .brd_search .txt_brd_search {
  width: 305px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #ddd;
  vertical-align: top;
  margin: 0 -4px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

#detail_page .content_block .content .brd_search .btn_nor {
  display: inline-block;
  width: 110px;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  background: #4d8fd0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  vertical-align: top;
}

#detail_page .content_block .content .tab_page_cont {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#detail_page .content_block .content .tab_page_cont li {
  display: table-cell;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ddd;
  border-left: none;
  border-bottom: 1px solid #4d8fd0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7;
  text-align: center;
  font-size: 16px;
  color: #777;
  cursor: pointer;
}

#detail_page .content_block .content .tab_page_cont li.on {
  border: 1px solid #4d8fd0;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-indent: -1px;
  color: #4d8fd0;
}

#detail_page .content_block .content .tab_page_sub .tab_sub {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#detail_page .content_block .content .tab_page_sub .tab_sub li {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("src/img/icon/bl_comment_bar.png") no-repeat 0 50%;
  color: #777;
  text-align: center;
}

#detail_page .content_block .content .tab_page_sub .tab_sub li.on {
  display: block;
  height: 60px;
  border-bottom: 3px solid #4d8fd0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222;
  z-index: 1;
}

#detail_page .content_block .content .tab_page_sub .tab_sub li:first-child {
  padding-left: 0;
  background: none;
}

#detail_page .content_block .content .tab_page_sub .tab_sub li span {
  display: block;
  width: 100%;
}

#detail_page .content_block .content .tab_page_sub .cont_faq {
  margin: 40px 0 30px;
  border-top: 1px solid #ddd;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .box_accordion.open .btn_more::before {
  background-position: 0 0;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .box_accordion.open .box_faq {
  display: block;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .tit_faq {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 70px;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .tit_faq:hover {
  background: #f7f7f7;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .tit_faq::before {
  position: absolute;
  display: block;
  top: 23px;
  left: 20px;
  width: 13px;
  height: 13px;
  background: url("src/img/icon/ico_faq.jpeg") no-repeat;
  content: '';
}

#detail_page .content_block .content .tab_page_sub .cont_faq .tit_faq .btn_more {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 54px;
  height: 60px;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .tit_faq .btn_more::before {
  display: block;
  width: 11px;
  height: 7px;
  margin: 27px auto;
  background: url("src/img/icon/ico_arr.png") no-repeat 0 -7px;
  content: '';
}

#detail_page .content_block .content .tab_page_sub .cont_faq .box_faq {
  display: none;
  padding: 35px 30px 30px 75px;
  background: #f7f7f7;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .box_faq .txt_answer {
  position: relative;
  line-height: 25px;
  font-size: 15px;
  color: #555;
}

#detail_page .content_block .content .tab_page_sub .cont_faq .box_faq .txt_answer::before {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background: url("src/img/icon/ico_faq.png") no-repeat;
  content: '';
  top: 5px;
  left: -56px;
  background-position: 0 -13px;
}

#detail_page .content_block .content .page {
  height: 30px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

#detail_page .content_block .content .page span {
  display: inline-block;
  width: 25px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

#detail_page .content_block .content .page span span {
  position: absolute;
  width: 1px;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#detail_page .content_block .content .page .btn_page_first {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: url("src/img/icon/btn_page_first.png") no-repeat 0 0;
}

#detail_page .content_block .content .page .btn_page_first:hover {
  border: none;
  background-position: 0 -30px;
}

#detail_page .content_block .content .page .btn_page_prev {
  margin-right: 13px;
  width: 30px;
  height: 30px;
  background: url("src/img/icon/btn_page_prev.png") no-repeat 0 0;
}

#detail_page .content_block .content .page .btn_page_prev:hover {
  border: none;
  background-position: 0 -30px;
}

#detail_page .content_block .content .page .btn_page_next {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  background: url("src/img/icon/btn_page_next.png") no-repeat 0 0;
}

#detail_page .content_block .content .page .btn_page_next:hover {
  border: none;
  background-position: 0 -30px;
}

#detail_page .content_block .content .page .btn_page_next {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  background: url("src/img/icon/btn_page_next.png") no-repeat 0 0;
}

#detail_page .content_block .content .page .btn_page_next:hover {
  border: none;
  background-position: 0 -30px;
}

#detail_page .content_block .content .page .btn_page_last {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background: url("src/img/icon/btn_page_last.png") no-repeat 0 0;
}

#detail_page .content_block .content .page .btn_page_last:hover {
  border: none;
  background-position: 0 -30px;
}

#detail_page .content_block .content .page a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 2px;
  margin: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #777;
  vertical-align: top;
  text-align: center;
}

#detail_page .content_block .content .page a.on {
  border-bottom: 1px solid #222;
  letter-spacing: -0.05em;
  color: #222;
}

#detail_page .content_block .content .page a:hover {
  border-bottom: 1px solid #222;
  color: #222;
}

#detail_page .content_block .content .page a span {
  position: absolute;
  width: 1px;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#detail_page .content_block .content .page .disabled {
  background-position: 0 100%;
}

#detail_page .content_block .content .page .disabled:hover {
  background-position: 0 100%;
}

#detail_page .content_block .content .noti_info {
  position: relative;
  padding: 40px;
  margin-top: 40px;
  background: #f3f3f3;
}

#detail_page .content_block .content .noti_info .tit_tbl_info {
  line-height: 20px;
  padding-left: 30px;
  background: url("src/img/icon/ico_info.png") no-repeat 0 -20px;
  color: #222;
}

#detail_page .content_block .content .noti_info .tbl_info_list {
  margin-top: 15px;
}

#detail_page .content_block .content .noti_info .tbl_info_list li {
  line-height: 24px;
  padding-left: 13px;
  background: url("src/img/icon/bl_info_dot.png") no-repeat 0 11px;
  font-size: 14px;
}

#detail_page .content_block .content .noti_info .tbl_info_list li .btn_go_page {
  display: inline-block;
  padding: 0 5px;
  font-size: inherit;
  text-decoration: underline;
}

#detail_page .content_block .content .noti_info .btn_wit_g {
  display: inline-block;
  padding: 0 20px;
  height: 38px;
  line-height: 36px;
  margin: 0 2px;
  border: 1px solid #bbb;
  background: #fff;
  font-size: 14px;
  color: #222;
  text-align: center;
  vertical-align: top;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

#detail_page .content_block .content .noti_info .btn_wit_g:hover {
  background-color: #4d8fd0;
  color: #fff;
}
