footer {
  width: 100%;
  height: 282px;
}

footer .f_menu {
  height: 60px;
  background: #333;
}

footer .f_menu .f_info {
  width: 650px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f0f0f0;
}

footer .f_menu .f_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .f_menu .f_info li::after {
  display: block;
  content: '';
  width: 1px;
  height: 14px;
  background-color: #f0f0f0;
  margin: 0 24px;
}

footer .f_menu .f_info li:last-child::after {
  display: none;
}

footer .f_copy {
  width: 100%;
  height: 222px;
  padding: 40px 0;
}

footer .f_copy .f_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .f_copy .f_title .f_sns {
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .f_copy .f_title .f_sns li {
  width: 28px;
  height: 28px;
}

footer .f_copy address {
  font-size: 14px;
}

footer .f_copy address .address {
  padding: 25px 0 15px 0;
}

footer .f_copy address .address span {
  padding-right: 5px;
}
