#header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ccc;
}

#header #top {
  width: 100%;
  height: 50px;
  background-color: #4d8fd0;
  color: #fff;
}

#header #top .top_menu_wrap {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #top .top_menu_wrap .top_menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

#header #top .top_menu_wrap .top_menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
}

#header #nav {
  width: 100%;
  height: 100px;
}

#header #nav .nav_menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #nav .nav_menu .logo_wrap {
  width: 200px;
  height: 100%;
}

#header #nav .nav_menu .logo_wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100px;
}

#header #nav .nav_menu .logo_wrap a img {
  width: 90%;
}

#header #nav .nav_menu ul {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
}

#header #nav .nav_menu ul li p {
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#header #nav .nav_menu ul li a {
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #nav .nav_menu ul li a span {
  width: 25px;
  height: 3px;
  background-color: #333;
}

#header #sub_nav {
  font-size: 16px;
  display: none;
}

#header #sub_nav .sub_nav_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

#header #sub_nav .sub_nav_body #side_list {
  width: 15%;
  background-color: #c3e1ff;
  cursor: pointer;
  z-index: 3;
}

#header #sub_nav .sub_nav_body #side_list ul {
  text-align: center;
  margin-top: 22px;
}

#header #sub_nav .sub_nav_body #side_list ul li {
  padding: 17px 0;
}

#header #sub_nav .sub_nav_body #side_list .leftsubtitle.on {
  background: #fff;
}

#header #sub_nav .sub_nav_body .sub_wrap {
  width: 85%;
  z-index: 3;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu {
  width: 100%;
  height: 390px;
  padding: 0 25px 32px 70px;
  background-color: #fff;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t h2 {
  color: #4d8fd0;
  font-size: 20px;
  margin-right: 40px;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain p {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain .rightIcon {
  padding-left: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain .rightIcon i {
  font-size: 15px;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #888;
  line-height: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain:hover p {
  color: #4d8fd0;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu .sub_menu_title .smenu_t .goMain:hover i {
  background-color: #4d8fd0;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list {
  width: 252px;
  margin-right: 110px;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul .menu_title {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid #4d8fd0;
  margin-bottom: 25px;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul .menu_title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul .menu_title a .material-icons {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul .menu_title:hover .material-icons {
  color: #4d8fd0;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul li {
  font-size: 14px;
  margin-bottom: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header #sub_nav .sub_nav_body .sub_wrap #sub_menu #sub_menu_list .menu_list ul li:not(.menu_title):hover {
  color: #4d8fd0;
}
