#event {
  background-color: #4d8fd0;
  color: #fff;
  padding: 25px 0;
}

#event > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#event > div > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#event > div > div img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

#event > div > div p {
  margin-right: 35px;
}

#event > div > div .show_event {
  width: 73%;
  height: 21px;
  overflow: hidden;
  position: relative;
}

#event > div > div .show_event ul {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

#event > div > div .show_event ul li {
  width: 100%;
  height: 21px;
}

#event > div > div .show_event ul li span {
  float: right;
}

#event > div > div:last-child {
  position: relative;
  padding-left: 30px;
}

#event > div > div:last-child:before {
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
