.main_title {
  text-align: center;
  font-size: 30px;
}

.main_title h3 {
  font-weight: bold;
  margin-bottom: 48px;
}

.main_title h3 span {
  color: #4d8fd0;
}

#inter_visual {
  width: 100%;
  height: 500px;
}

#inter_visual .visual {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  position: relative;
}

#inter_visual .visual .in_visual {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
}

#inter_visual .visual .in_visual .visual_title {
  margin-top: 210px;
}

#inter_visual .visual .in_visual .visual_title h2 {
  font-size: 44px;
  letter-spacing: -1px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#inter_visual .visual .in_visual .visual_title p {
  font-size: 24px;
  letter-spacing: -1px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

#inter_visual .visual #europe {
  width: 100%;
  height: 100%;
  background: url(/src/img/sub_page/sub_international/overseas_main_bg1.jpg) center center/cover no-repeat;
  display: block;
}

#inter_visual .visual #hawaii {
  width: 100%;
  height: 100%;
  background: url(/src/img/sub_page/sub_international/overseas_main_bg2.jpg) center center/cover no-repeat;
  display: none;
}

#inter_visual .visual #swiss {
  width: 100%;
  height: 100%;
  background: url(/src/img/sub_page/sub_international/overseas_main_bg3.jpg) center center/cover no-repeat;
  display: none;
}

#inter_visual .visual #sebu {
  width: 100%;
  height: 100%;
  background: url(/src/img/sub_page/sub_international/overseas_main_bg4.jpg) center center/cover no-repeat;
  display: none;
}

#inter_visual .visual_control .container {
  position: relative;
}

#inter_visual .visual_control ul {
  width: 1200px;
  height: 60px;
  position: absolute;
  left: 0;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#inter_visual .visual_control ul li {
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
}

#inter_visual .visual_control ul li:hover {
  background-color: rgba(77, 143, 208, 0.9);
  border: 1px solid #4d8fd0;
}

#inter_visual .visual_control ul li.on {
  background-color: rgba(77, 143, 208, 0.9);
  border: 1px solid #4d8fd0;
}
