section {
  margin-top: 50px;
}

#detail_page .tour_bigmenu h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

#detail_page .tour_bigmenu h2.line {
  padding: 10px 0 20px 0;
  margin-bottom: 40px;
  border-bottom: 2px solid #222;
}

#detail_page .wrap_agree .tit_skip {
  overflow: hidden;
  height: 0;
  line-height: 24px;
}

#detail_page .wrap_agree .tit {
  padding-bottom: 15px;
  margin-top: 48px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  color: #222;
}

#detail_page .wrap_agree .tit_sub {
  margin-top: 20px;
  line-height: 24px;
  font-size: 16px;
  color: #222;
}

#detail_page .wrap_agree ol {
  margin-top: 8px;
}

#detail_page .wrap_agree ol li {
  margin-top: 8px;
  line-height: 24px;
  font-size: 15px;
  color: #555;
}

#detail_page .wrap_agree ol .list_number {
  padding-left: 16px;
}

#detail_page .wrap_agree ol .list_number li {
  line-height: 28px;
}
