#lately {
  width: 100%;
  height: auto;
  padding-top: 40px;
  letter-spacing: -1px;
}

#lately .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lately .container #lately_left {
  width: 22%;
  height: 100%;
  padding-right: 40px;
}

#lately .container #lately_left #lately_side_menu {
  height: 526px;
  border: 1px solid #9d9d9d;
  padding-top: 20px;
}

#lately .container #lately_left #lately_side_menu h2 {
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu {
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > a {
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
  margin-bottom: -1px;
  padding-left: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > a:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > a.on {
  background-color: #4d8fd0;
  color: #fff;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > ul {
  display: none;
  font-size: 14px;
  color: #888;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > ul.on {
  display: block;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 35px;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > ul li a:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#lately .container #lately_left #lately_side_menu > ul .side_menu > ul li a.on {
  background-color: #4d8fd0;
  color: #fff;
}

#lately .container #lately_right {
  width: 78%;
}

#lately .container #lately_right #lately_title {
  width: 100%;
}

#lately .container #lately_right #lately_title h1 {
  font-size: 33px;
  padding: 20px 0;
}

#lately .container #lately_right #lately_title h1 span:nth-child(1) {
  color: #4d8fd0;
  font-weight: bold;
}

#lately .container #lately_right #lately_title h1 span:nth-child(2) {
  font-weight: bold;
}

#lately .container #lately_right #big_menu ul {
  height: 60px;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right #big_menu ul .big_menu {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  width: 50%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #333;
  background: #f7f7f7;
}

#lately .container #lately_right #big_menu ul .big_menu.on {
  border: 1px solid #333;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-indent: -1px;
  color: #333;
}

#lately .container #lately_right .contents {
  width: 100%;
  display: none;
}

#lately .container #lately_right .contents.on {
  display: block;
}

#lately .container #lately_right .contents .small_menus {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

#lately .container #lately_right .contents .small_menus > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .small_menus > ul > li.choice_item_btn > ul > li {
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}

#lately .container #lately_right .contents .small_menus > ul > li.choice_item_btn > ul > li:nth-child(1) {
  margin-right: 6px;
}

#lately .container #lately_right .contents .small_menus > ul > li > ul {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

#lately .container #lately_right .contents .small_menus > ul > li > ul .small_menu {
  line-height: 60px;
  height: 60px;
  color: #9d9d9d;
}

#lately .container #lately_right .contents .small_menus > ul > li > ul .small_menu.on {
  color: #333;
  border-bottom: 3px solid #4d8fd0;
}

#lately .container #lately_right .contents .small_menus > ul > li > ul span {
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #9d9d9d;
  margin: 0 15px;
}

#lately .container #lately_right .contents .lately_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .lately_goods .late_goods {
  width: 48%;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods {
  position: relative;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods {
  height: 258px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods.black_goods {
  position: relative;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .img {
  position: relative;
  margin-right: 20px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .img img {
  display: block;
  width: 210px;
  height: 150px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .img p {
  width: 55px;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  background-color: #4d8fd0;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .img span {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .img span input {
  width: 20px;
  height: 20px;
  display: block;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul {
  font-size: 14px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul li {
  position: relative;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul li p {
  position: absolute;
  left: 60px;
  top: 0;
  line-height: 24px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul li p i {
  line-height: 24px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul li p span {
  width: 50px;
  position: absolute;
  left: 25px;
  top: 0;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul .text_title {
  font-size: 16px;
  padding-bottom: 8px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text ul .price {
  font-size: 16px;
  color: #4d8fd0;
  padding-top: 8px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text .price_text {
  margin-top: 10px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text .price_text li .blue_color {
  color: #4d8fd0;
  font-size: 16px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_img .text .price_text li span {
  padding: 0 15px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.social li {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  margin-right: -1px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.social li i {
  color: #888;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.btn li {
  width: 110px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.btn li:nth-child(1) {
  border: 1px solid #ccc;
  margin-right: 5px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.btn li:nth-child(2) {
  color: #fff;
  background: #333;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.btn li a {
  display: block;
  width: 100%;
  height: 100%;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .detail_btn ul.black_btn li:nth-child(2) {
  color: #fff;
  background: #888;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .black_bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 258px;
}

#lately .container #lately_right .contents .lately_goods .late_goods > ul > li .goods .detailgoods .not_list {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 216px;
  font-size: 16px;
}

#lately .container #lately_right .contents .recommend_item h3 {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  margin-top: 50px;
  padding-bottom: 20px;
}

#lately .container #lately_right .contents .recommend_item > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .recommend_item > ul > li {
  width: 31%;
  cursor: pointer;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img {
  width: 100%;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .img {
  position: relative;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .img img {
  width: 100%;
  display: block;
  height: 195px;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .img p {
  width: 55px;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  background-color: #4d8fd0;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .text ul {
  font-size: 14px;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .text ul .text_title {
  font-size: 16px;
  padding: 8px 0;
}

#lately .container #lately_right .contents .recommend_item > ul > li .goods .detail_img .text ul .price {
  font-size: 20px;
  color: #4d8fd0;
}

#lately .container #lately_right .contents .item_list {
  text-align: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lately .container #lately_right .contents .item_list i {
  display: block;
  font-size: 80px;
  color: #ccc;
  margin-bottom: 20px;
}

#lately .container #lately_right .contents .item_list p {
  font-size: 16px;
  margin-bottom: 30px;
}

#lately .container #lately_right .contents .item_list button {
  width: 150px;
  height: 50px;
  background-color: #4d8fd0;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
