.product_box {
  position: relative;
}

.product_box .show_travel {
  width: 100%;
  height: 352px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.product_box .show_travel .lists_travel {
  width: 1196px;
  height: 348px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_box .show_travel .lists_travel .item_travel {
  margin-right: 20px;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.product_box .show_travel .lists_travel .item_travel .img_travel {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.product_box .show_travel .lists_travel .item_travel .img_travel img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
}

.product_box .show_travel .lists_travel .item_travel .img_travel .blackbg {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product_box .show_travel .lists_travel .item_travel .img_travel .blackbg .view_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product_box .show_travel .lists_travel .item_travel .img_travel .blackbg .view_icon p {
  color: #fff;
}

.product_box .show_travel .lists_travel .item_travel .img_travel .blackbg .view_icon:hover {
  background: none;
  border: 2px solid #fff;
}

.product_box .show_travel .lists_travel .item_travel .img_travel:hover .blackbg {
  opacity: 1;
}

.product_box .show_travel .text_travel {
  width: 100%;
  height: 50%;
  padding: 25px;
  background-color: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
}

.product_box .show_travel .text_travel p:nth-child(1) {
  font-size: 16px;
  margin-bottom: 10px;
}

.product_box .show_travel .text_travel span {
  margin-right: 5px;
  font-size: 16px;
  color: #4d8fd0;
}

.product_box .show_travel .text_travel span.free {
  color: #f5a962;
}

.product_box .show_travel .text_travel span.cost {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#visual .show_visual {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

#visual .show_visual .lists_visual {
  width: auto;
  height: 100%;
}

#visual .show_visual .lists_visual .jejudo {
  color: #fff;
  display: block;
}

#visual .show_visual .lists_visual .philippines {
  color: #333;
  display: block;
}

#visual .show_visual .lists_visual .philippines a {
  border: 2px solid #333;
}

#visual .show_visual .lists_visual .philippines a p {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#visual .show_visual .lists_visual .philippines a:hover {
  border: 2px solid #4d8fd0;
}

#visual .show_visual .lists_visual .philippines a:hover p {
  color: #fff;
}

#visual .show_visual .lists_visual .item_visual {
  width: 50%;
}

#visual .show_visual .lists_visual .item_visual img {
  width: 100%;
  min-height: 550px;
}

#visual .show_visual .lists_visual .item_visual div {
  position: absolute;
  top: 50%;
  left: 18.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#visual .show_visual .lists_visual .item_visual div h3 {
  font-size: 44px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#visual .show_visual .lists_visual .item_visual div > p {
  font-size: 24px;
  margin: 20px 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#search {
  height: 160px;
  margin-top: -260px;
  position: relative;
  z-index: 99;
}

#search > div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 3px 0px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 0px 16px rgba(0, 0, 0, 0.3);
}

#search > div ul {
  height: 70px;
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

#search > div ul li {
  padding-left: 60px;
}

#search > div ul li.selected {
  color: #4d8fd0;
}

#search > div .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search > div .package div {
  width: 30%;
  height: 90px;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search > div .package div:not(:last-child) {
  border-right: 1px solid #ccc;
}

#search > div .package div img {
  width: 22px;
  height: 22px;
}

#search > div .package div p {
  color: #888;
}

#search > div .package div p span {
  font-size: 16px;
  color: #333;
}

#search > div .package button {
  width: 10%;
  height: 90px;
  background-color: #4d8fd0;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
}

#oversea .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

#local_trip .container {
  position: relative;
}

#local_trip .container .title_box {
  width: 435px;
  height: 565px;
  padding: 50px 40px;
  border-radius: 15px;
  background: center center/cover url(/src/img/main/local_trip_menubg.jpg);
  color: #fff;
}

#local_trip .container .title_box .title {
  margin-bottom: 50px;
}

#local_trip .container .title_box li {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 19.5px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 16px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#local_trip .container .title_box li i {
  line-height: 40px;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#local_trip .container .title_box li:hover {
  background-color: #4d8fd0;
  border: 1px solid #4d8fd0;
}

#local_trip .container .title_box li.on {
  background-color: #4d8fd0;
  border: 1px solid #4d8fd0;
}

#local_trip .container .product_box {
  width: 900px;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#local_trip .container .product_box .show_travel .lists_travel {
  width: 100%;
}

#local_trip .container .product_box .show_travel .lists_travel .item_travel {
  width: 284px !important;
  height: 348px;
  margin-right: 20px !important;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

#local_trip .container .product_box .slide_bar {
  width: 895px;
  height: 3px;
  background-color: #ccc;
  margin-top: 35px;
  border-radius: 1px;
}

#local_trip .container .product_box .slide_bar .swiper-scrollbar-drag {
  background-color: #4d8fd0 !important;
}

#local_trip .container .train_swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#local_trip .container .inland_swiper {
  display: none;
}

#local_trip .container .jeju_swiper {
  display: none;
}

#hotel .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

#hotel .img_travel {
  height: 230px;
  overflow: hidden;
}

#hotel .img_travel .gangwon {
  width: 100%;
  height: 100%;
  background: url(../img/lodgment/hotel_img1.jpg) center center/cover no-repeat;
  background-size: 250%;
  border-radius: 15px 15px 0 0;
}

#hotel .img_travel .jeju {
  width: 100%;
  height: 100%;
  background: url(../img/lodgment/hotel_img2.jpg) center center/cover no-repeat;
  background-size: 150%;
  border-radius: 15px 15px 0 0;
}

#hotel .img_travel .seoul {
  width: 100%;
  height: 100%;
  background: url(../img/lodgment/hotel_img3.jpg) left top/cover no-repeat;
  border-radius: 15px 15px 0 0;
}

#hotel .img_travel .busan {
  width: 100%;
  height: 100%;
  background: url(../img/lodgment/hotel_img4.jpg) center center/cover no-repeat;
  border-radius: 15px 15px 0 0;
}

#hotel .text_travel {
  height: 110px;
}

#banner .show_banner {
  width: 100%;
  height: 330px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

#banner .show_banner .lists_banner {
  width: 300%;
  height: 100%;
  position: relative;
}

#banner .show_banner .lists_banner .item_banner {
  width: 33.3333%;
}

#banner .show_banner .lists_banner .item_banner img {
  width: 100%;
}

#banner .show_banner .lists_banner .item_banner p {
  position: absolute;
  top: 90px;
  left: 100px;
  font-size: 36px;
}

#banner .show_banner .lists_banner .item_banner span {
  position: absolute;
  top: 145px;
  left: 100px;
  font-size: 18px;
}

#banner .show_banner .lists_banner .item_banner .btn_banner {
  position: absolute;
  top: 190px;
  left: 100px;
  font-size: 16px;
  width: 150px;
  line-height: 40px;
  border-radius: 19.5px;
  text-align: center;
  color: #fff;
}

#banner .show_banner .lists_banner .waterpark {
  color: #fff;
}

#banner .show_banner .lists_banner .waterpark .btn_banner {
  background-color: #5807ae;
}

#banner .show_banner .lists_banner .hotel img {
  position: absolute;
  top: -200px;
}

#banner .show_banner .lists_banner .hotel .btn_banner {
  background-color: #4d8fd0;
}

#banner .show_banner .lists_banner .restautant img {
  position: absolute;
  top: -100px;
}

#banner .show_banner .lists_banner .restautant .btn_banner {
  background-color: #77a83b;
}

#banner .slidebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#notice {
  background-color: #f9f9f9;
  margin: 0;
}

#notice .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

#notice .container .notice_left {
  width: 50%;
}

#notice .container .notice_left > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notice .container .notice_left > div:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

#notice .container .notice_left > div:nth-child(1) div img {
  width: 55px;
  height: 54px;
  margin-right: 20px;
}

#notice .container .notice_left > div:nth-child(1) div p {
  font-size: 24px;
  line-height: 1;
}

#notice .container .notice_left > div:nth-child(1) div p span {
  font-size: 32px;
}

#notice .container .notice_left > div:nth-child(2) p {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 10px;
}

#notice .container .notice_right {
  width: 50%;
  padding-left: 40px;
}

#notice .container .notice_right p {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 30px;
}

#notice .container .notice_right p span {
  float: right;
}

#notice .container .notice_right li {
  line-height: 30px;
  margin-left: 15px;
  position: relative;
}

#notice .container .notice_right li span {
  float: right;
}

#notice .container .notice_right li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4d8fd0;
}
