.product_box {
  position: relative;
}

.product_box .show_travel {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.product_box .show_travel .lists_travel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_box .show_travel .lists_travel .item_travel {
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.product_box .show_travel .lists_travel .item_travel img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 176px;
}

#visual .show_visual {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

#visual .show_visual .lists_visual {
  width: auto;
  height: 100%;
}

#visual .show_visual .lists_visual .jejudo {
  color: #fff;
  display: block;
}

#visual .show_visual .lists_visual .philippines {
  color: #fff;
  display: block;
}

#visual .show_visual .lists_visual .item_visual {
  width: 50%;
}

#visual .show_visual .lists_visual .item_visual img {
  width: 100%;
  min-height: 550px;
}

#visual .show_visual .lists_visual .item_visual div {
  position: absolute;
  top: 50%;
  left: 18.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#visual .show_visual .lists_visual .item_visual div h3 {
  font-size: 40px;
}

#visual .show_visual .lists_visual .item_visual div > p {
  font-size: 20px;
  margin: 20px 0;
}

#search {
  height: 160px;
  margin-top: -260px;
  position: relative;
  z-index: 99;
}

#search > div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 3px 0px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 0px 16px rgba(0, 0, 0, 0.3);
}

#search > div ul {
  height: 70px;
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

#search > div ul li {
  padding-left: 60px;
}

#search > div ul li.selected {
  color: #4d8fd0;
}

#search > div .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search > div .package div {
  width: 30%;
  height: 90px;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search > div .package div:not(:last-child) {
  border-right: 1px solid #ccc;
}

#search > div .package div img {
  width: 22px;
  height: 22px;
}

#search > div .package div p {
  color: #888;
}

#search > div .package div p span {
  font-size: 16px;
  color: #333;
}

#search > div .package button {
  width: 10%;
  height: 90px;
  background-color: #4d8fd0;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
}

#oversea {
  margin-top: 100px;
}

#oversea .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
