#notice {
  width: 100%;
  height: 150vh;
  padding-top: 40px;
}

#notice .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notice .container #notice_left {
  width: 20%;
  height: 100%;
  padding-right: 40px;
}

#notice .container #notice_left #service_side_menu {
  height: 250px;
  border: 1px solid #333;
  padding-top: 20px;
}

#notice .container #notice_left #service_side_menu h2 {
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

#notice .container #notice_left #service_side_menu #blue_bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #4d8fd0;
  margin-bottom: 10px;
  margin-left: 20px;
}

#notice .container #notice_left #service_side_menu ul li {
  padding-left: 20px;
  font-size: 16px;
  line-height: 30px;
}

#notice .container #notice_left #service_side_menu ul li:first-child {
  background-color: #4d8fd0;
  color: #fff;
}

#notice .container #notice_left #service_side_menu ul li:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#notice .container #notice_right {
  width: 80%;
  height: 100vh;
}

#notice .container #notice_right #notice_title {
  width: 100%;
  border-bottom: 2px solid #333;
}

#notice .container #notice_right #notice_title h1 {
  font-size: 30px;
  padding: 10px 0;
}

#notice .container #notice_right #notice_search {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#notice .container #notice_right #notice_search .search_title #search_title {
  width: 110px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin-right: 10px;
  -webkit-appearance: none;
  /* for chrome */
  -moz-appearance: none;
  /*for firefox*/
  appearance: none;
  background: url(../img/icon/bl_sel_arrow.png) no-repeat;
  background-position: right center;
  background-size: 19px;
}

#notice .container #notice_right #notice_search .search_title #search_title::-ms-expand {
  display: none;
  /*for IE10,11*/
}

#notice .container #notice_right #notice_search .search_menu #search_menu {
  width: 110px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin-right: 10px;
  -webkit-appearance: none;
  /* for chrome */
  -moz-appearance: none;
  /*for firefox*/
  appearance: none;
  background: url(../img/icon/bl_sel_arrow.png) no-repeat;
  background-position: right center;
  background-size: 19px;
}

#notice .container #notice_right #notice_search .search_menu #search_menu::-ms-expand {
  display: none;
  /*for IE10,11*/
}

#notice .container #notice_right #notice_search .search_input {
  width: 305px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin-right: 10px;
}

#notice .container #notice_right #notice_search button {
  width: 110px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background-color: #333;
  outline: none;
  border: none;
  cursor: pointer;
}

#notice .container #notice_right #notice_list > p {
  padding-bottom: 5px;
}

#notice .container #notice_right #notice_list .list_title {
  height: 55px;
  padding: 0 50px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
}

#notice .container #notice_right #notice_list .notice_list li {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#notice .container #notice_right #notice_list .notice_list li .list_no {
  margin-left: 35px;
  font-size: 14px;
}

#notice .container #notice_right #notice_list .notice_list li .blue_icon {
  height: 22px;
  line-height: 20px;
  padding: 0 8px;
  border: 1px solid #4d8fd0;
  border-radius: 15px;
  background: #fff;
  font-size: 12px;
  color: #4d8fd0;
  vertical-align: middle;
  text-align: center;
  margin-left: 30px;
}

#notice .container #notice_right #notice_list .notice_list li a {
  display: inline-block;
  position: absolute;
  left: 130px;
}

#notice .container #notice_right #notice_list .notice_list li a .red_icon {
  display: inline-block;
  height: 22px;
  line-height: 20px;
  padding: 0 8px;
  border: 1px solid #d00000;
  border-radius: 15px;
  background: #fff;
  font-size: 12px;
  color: #d00000;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
}

#notice .container #notice_right #notice_list .notice_list li a p {
  display: inline-block;
  font-size: 16px;
}

#notice .container #notice_right #notice_list .notice_list li > span {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

#notice .container #notice_right #notice_control {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#notice .container #notice_right #notice_control .control_box {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 0 3px;
}

#notice .container #notice_right #notice_control .control_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#notice .container #notice_right #notice_control .light_box {
  border: 1px solid #ccc;
  color: #ccc;
}

#notice .container #notice_right #notice_control .dark_box {
  border: 1px solid #888;
  color: #888;
}

#notice .container #notice_right #notice_control ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notice .container #notice_right #notice_control ul li {
  padding: 0 10px;
  position: relative;
}

#notice .container #notice_right #notice_control ul li:first-child ::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 9px;
}

#notice .container #notice_right #notice_control ul li:not(:first-child) {
  color: #888;
}
