#detail_page {
  margin-top: 50px;
  margin-bottom: 0;
}

#detail_page .content_block {
  position: relative;
  width: 1200px;
  padding-bottom: 100px;
  margin: auto;
}

#detail_page .content_block::after {
  display: block;
  content: ' ';
  clear: both;
}

#detail_page .content_block .content {
  float: right;
  width: 910px;
  min-height: 800px;
}

#detail_page .content_block .content .tit_con_title {
  line-height: 1;
  font-size: 32px;
  color: #222;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #222;
}

#detail_page .content_block .content .brd_title {
  position: relative;
  height: 80px;
  padding: 0 20px;
  font-size: 18px;
  font-family: 'Noto_m';
}

#detail_page .content_block .content .brd_title .tbl_cell {
  width: 780px;
  height: 80px;
  display: table-cell;
  line-height: 1.4;
  vertical-align: middle;
}

#detail_page .content_block .content .brd_title .tbl_cell .brd_tag {
  margin-right: 10px;
}

#detail_page .content_block .content .brd_title .brd_date {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 15px;
}

#detail_page .content_block .content .brd_editor {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

#detail_page .content_block .content .brd_editor .editor_area {
  min-height: 300px;
  padding: 40px 20px;
  line-height: 25px;
}

#detail_page .content_block .content .tbl_pren {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #ddd;
}

#detail_page .content_block .content .btn_area {
  margin: 40px 0;
  text-align: center;
}

#detail_page .content_block .content .ico_brd_blue {
  margin-top: -4px;
  display: inline-block;
  height: 20px;
  line-height: 17px;
  padding: 0 8px;
  border: 1px solid #4567ad;
  border-radius: 10px;
  background: #fff;
  font-size: 12px;
  color: #4567ad;
  vertical-align: middle;
  text-align: center;
}

#detail_page .content_block .content .ico_brd_red {
  margin-top: -4px;
  display: inline-block;
  height: 20px;
  padding: 0 8px;
  line-height: 17px;
  border: 1px solid #fc5c44;
  border-radius: 10px;
  background: #fff;
  font-size: 12px;
  color: #fc5c44;
  vertical-align: middle;
  text-align: center;
}

#detail_page .content_block .content .tbl_pren {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #ddd;
}

#detail_page .content_block .content .tbl_pren th {
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  color: #222;
  text-align: left;
}

#detail_page .content_block .content .tbl_pren td {
  position: relative;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: left;
}

#detail_page .content_block .content .btn_area {
  margin: 40px 0;
  text-align: center;
}

#detail_page .content_block .content .btn_area .btn_cof {
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 0 4px;
  background: #555;
  font-size: 18px;
  color: #fff;
  vertical-align: top;
  text-align: center;
}
