#reservation {
  width: 100%;
  height: 80vh;
  padding-top: 40px;
  letter-spacing: -1px;
}

#reservation .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reservation .container #reser_left {
  width: 22%;
  height: 100%;
  padding-right: 40px;
}

#reservation .container #reser_left #reser_side_menu {
  height: auto;
  border: 1px solid #9d9d9d;
  padding-top: 20px;
}

#reservation .container #reser_left #reser_side_menu h2 {
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu {
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > a {
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
  margin-bottom: -1px;
  padding-left: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > a:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > a.on {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > ul {
  display: none;
  font-size: 14px;
  color: #888;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > ul.on {
  display: block;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 35px;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > ul li a:hover {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_left #reser_side_menu > ul .side_menu > ul li a.on {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_right {
  width: 78%;
  height: auto;
  position: relative;
}

#reservation .container #reser_right #reser_title {
  width: 100%;
}

#reservation .container #reser_right #reser_title h1 {
  font-size: 33px;
  padding: 20px 0;
}

#reservation .container #reser_right #reser_title h1 span:nth-child(1) {
  color: #4d8fd0;
  font-weight: bold;
}

#reservation .container #reser_right #reser_title h1 span:nth-child(2) {
  font-weight: bold;
}

#reservation .container #reser_right #big_menu ul {
  height: 60px;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#reservation .container #reser_right #big_menu ul .big_menu {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  width: 312px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #333;
  background: #f7f7f7;
}

#reservation .container #reser_right #big_menu ul .big_menu.on {
  border: 1px solid #333;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-indent: -1px;
  color: #333;
}

#reservation .container #reser_right .reservation {
  width: 100%;
}

#reservation .container #reser_right .reservation .small_menus {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

#reservation .container #reser_right .reservation .small_menus > ul {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 250px;
}

#reservation .container #reser_right .reservation .small_menus > ul .small_menu {
  line-height: 60px;
  height: 60px;
  color: #9d9d9d;
}

#reservation .container #reser_right .reservation .small_menus > ul .small_menu.on {
  color: #333;
  border-bottom: 3px solid #4d8fd0;
}

#reservation .container #reser_right .reservation .small_menus > ul span {
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #9d9d9d;
}

#reservation .container #reser_right .reservation .search_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 70px;
  height: 38px;
  font-size: 14px;
}

#reservation .container #reser_right .reservation .search_menu .search_day {
  width: 100px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/icon/bl_sel_arrow.png) no-repeat;
  background-position: right center;
  background-size: 19px;
  cursor: pointer;
}

#reservation .container #reser_right .reservation .search_menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: 1px solid #ccc;
  height: 38px;
}

#reservation .container #reser_right .reservation .search_menu > ul > li {
  width: 70px;
  height: 36px;
  line-height: 36px;
}

#reservation .container #reser_right .reservation .search_menu > ul > li:not(:last-child) {
  border-right: 1px solid #ccc;
}

#reservation .container #reser_right .reservation .search_menu > ul > li.on {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_right .reservation .search_menu > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
}

#reservation .container #reser_right .reservation .search_menu .calendar input {
  width: 150px;
  height: 38px;
  line-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  vertical-align: middle;
  background: url(../img/icon/ico_calendar.png) no-repeat right 10px top 50%;
}

#reservation .container #reser_right .reservation .search_menu .calendar span {
  display: inline-block;
  padding: 0 10px;
}

#reservation .container #reser_right .reservation .search_menu .btn_go {
  width: 110px;
  height: 38px;
  line-height: 38px;
  margin: 0 2px;
  background: #333;
  font-size: 14px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  outline: none;
  border: none;
  cursor: pointer;
}

#reservation .container #reser_right .reservation .reser_list .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  font-size: 14px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li {
  text-align: center;
  height: 60px;
  line-height: 58px;
  font-size: 15px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:not(:last-child) {
  border-right: 1px solid #ccc;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(1) {
  width: 145px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(2) {
  width: 90px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(3) {
  width: 195px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(4) {
  width: 90px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(5) {
  width: 60px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(6) {
  width: 110px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(7) {
  width: 110px;
}

#reservation .container #reser_right .reservation .reser_list .list_menu li:nth-child(8) {
  width: 110px;
}

#reservation .container #reser_right .reservation .reser_list .list {
  height: 60px;
  line-height: 58px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#reservation .container #reser_right .cancel {
  width: 100%;
}

#reservation .container #reser_right .cancel .small_menus {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

#reservation .container #reser_right .cancel .small_menus > ul {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 250px;
}

#reservation .container #reser_right .cancel .small_menus > ul .small_menu {
  line-height: 60px;
  height: 60px;
  color: #9d9d9d;
}

#reservation .container #reser_right .cancel .small_menus > ul .small_menu.on {
  color: #333;
  border-bottom: 3px solid #4d8fd0;
}

#reservation .container #reser_right .cancel .small_menus > ul span {
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #9d9d9d;
}

#reservation .container #reser_right .cancel .search_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 70px;
  height: 38px;
  font-size: 14px;
}

#reservation .container #reser_right .cancel .search_menu .search_day {
  width: 100px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/icon/bl_sel_arrow.png) no-repeat;
  background-position: right center;
  background-size: 19px;
  cursor: pointer;
}

#reservation .container #reser_right .cancel .search_menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: 1px solid #ccc;
  height: 38px;
}

#reservation .container #reser_right .cancel .search_menu > ul > li {
  width: 70px;
  height: 36px;
  line-height: 36px;
}

#reservation .container #reser_right .cancel .search_menu > ul > li:not(:last-child) {
  border-right: 1px solid #ccc;
}

#reservation .container #reser_right .cancel .search_menu > ul > li.on {
  background-color: #4d8fd0;
  color: #fff;
}

#reservation .container #reser_right .cancel .search_menu > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
}

#reservation .container #reser_right .cancel .search_menu .calendar input {
  width: 150px;
  height: 38px;
  line-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  vertical-align: middle;
  background: url(../img/icon/ico_calendar.png) no-repeat right 10px top 50%;
}

#reservation .container #reser_right .cancel .search_menu .calendar span {
  display: inline-block;
  padding: 0 10px;
}

#reservation .container #reser_right .cancel .search_menu .btn_go {
  width: 110px;
  height: 38px;
  line-height: 38px;
  margin: 0 2px;
  background: #333;
  font-size: 14px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  outline: none;
  border: none;
  cursor: pointer;
}

#reservation .container #reser_right .cancel .reser_list .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  font-size: 14px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li {
  text-align: center;
  height: 60px;
  line-height: 58px;
  font-size: 15px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:not(:last-child) {
  border-right: 1px solid #ccc;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(1) {
  width: 145px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(2) {
  width: 90px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(3) {
  width: 195px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(4) {
  width: 90px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(5) {
  width: 60px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(6) {
  width: 110px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(7) {
  width: 110px;
}

#reservation .container #reser_right .cancel .reser_list .list_menu li:nth-child(8) {
  width: 110px;
}

#reservation .container #reser_right .cancel .reser_list .list {
  height: 60px;
  line-height: 58px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#reservation .container #reser_right .my_reservation {
  width: 100%;
}

#reservation .container #reser_right .my_reservation .small_menus {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

#reservation .container #reser_right .my_reservation .small_menus > ul {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 210px;
}

#reservation .container #reser_right .my_reservation .small_menus > ul .small_menu {
  line-height: 60px;
  height: 60px;
  color: #9d9d9d;
}

#reservation .container #reser_right .my_reservation .small_menus > ul .small_menu.on {
  color: #333;
  border-bottom: 3px solid #4d8fd0;
}

#reservation .container #reser_right .my_reservation .small_menus > ul span {
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #9d9d9d;
}

#reservation .container #reser_right .my_reservation .find_list h3 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
  line-height: 1;
}

#reservation .container #reser_right .my_reservation .find_list table {
  width: 100%;
  height: 122px;
  border-top: 1px solid #333;
  font-size: 16px;
}

#reservation .container #reser_right .my_reservation .find_list table tr th {
  font-weight: normal;
  width: 170px;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  background: #f7f7f7;
  color: #333;
  vertical-align: middle;
  text-align: left;
}

#reservation .container #reser_right .my_reservation .find_list table tr td {
  height: 50px;
  padding: 5px 20px;
  border-right: none;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: left;
}

#reservation .container #reser_right .my_reservation .find_list table tr td input {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  vertical-align: middle;
}

#reservation .container #reser_right .my_reservation .find_list .find_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

#reservation .container #reser_right .my_reservation .find_list .find_btn button {
  background-color: #4d8fd0;
  color: #fff;
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 0 4px;
  font-size: 18px;
  vertical-align: top;
  text-align: center;
  border: none;
  cursor: pointer;
}

#reservation .container #reser_right .my_reservation .find_list .note {
  padding: 40px;
  background-color: #f3f3f3;
}

#reservation .container #reser_right .my_reservation .find_list .note h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
}

#reservation .container #reser_right .my_reservation .find_list .note h4 i {
  font-size: 22px;
}

#reservation .container #reser_right .my_reservation .find_list .note h4 span {
  padding-left: 5px;
  font-size: 16px;
}

#reservation .container #reser_right .my_reservation .find_list .note ul {
  margin-top: 20px;
}

#reservation .container #reser_right .my_reservation .find_list .note ul li {
  font-size: 14px;
  line-height: 24px;
}

#reservation .container #reser_right .my_reservation .find_list .note ul li span {
  padding-right: 10px;
}

#reservation .container #reser_right .contents {
  display: none;
  position: absolute;
  left: 0;
  top: 150px;
}

#reservation .container #reser_right .contents.on {
  display: block;
}
