#agree-info.container {
  letter-spacing: -1px;
  padding: 100px 0;
  width: 100%;
}

#agree-info.container .title {
  border-bottom: 2px solid #4d8fd0;
}

#agree-info.container .title h2 {
  font-size: 38px;
  color: #4d8fd0;
  text-align: center;
}

#agree-info.container .title p {
  font-size: 18px;
  color: #888;
  text-align: center;
  font-weight: 200;
  padding-bottom: 50px;
}

#agree-info.container .info-contents {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}

#agree-info.container .info-contents .joinbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#agree-info.container .info-contents .joinbox div {
  width: 200px;
  text-align: center;
  height: 60px;
  line-height: 55px;
  border: 1px solid #4d8fd0;
  border-radius: 30px;
  font-size: 18px;
  color: #4d8fd0;
  font-weight: 500;
  background: #fff;
  position: relative;
}

#agree-info.container .info-contents .joinbox div span {
  margin-right: 20px;
}

#agree-info.container .info-contents .joinbox div:not(:last-child) {
  margin-right: 60px;
}

#agree-info.container .info-contents .joinbox div:not(:first-child)::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #eee;
  position: absolute;
  top: 50%;
  left: -61px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#agree-info.container .info-contents .joinbox div.agreebox {
  background: #4d8fd0;
  color: #fff;
}

#agree-info.container .info-contents .form {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

#agree-info.container .info-contents .form h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 30px;
}

#agree-info.container .info-contents .form table tr td {
  padding-bottom: 30px;
}

#agree-info.container .info-contents .form table tr .input-tit {
  width: 20%;
  font-size: 16px;
}

#agree-info.container .info-contents .form table tr .input-tit span {
  color: #4d8fd0;
  margin-left: 2px;
}

#agree-info.container .info-contents .form table tr .input-box input {
  width: 100%;
  height: 50px;
  background: #eee;
  border-radius: 5px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 14px;
}

#agree-info.container .info-contents .form table tr .input-box input::-webkit-input-placeholder {
  font-size: 13px;
  letter-spacing: -1px;
  color: #9d9d9d;
}

#agree-info.container .info-contents .form table tr .input-box input:-ms-input-placeholder {
  font-size: 13px;
  letter-spacing: -1px;
  color: #9d9d9d;
}

#agree-info.container .info-contents .form table tr .input-box input::-ms-input-placeholder {
  font-size: 13px;
  letter-spacing: -1px;
  color: #9d9d9d;
}

#agree-info.container .info-contents .form table tr .input-box input::placeholder {
  font-size: 13px;
  letter-spacing: -1px;
  color: #9d9d9d;
}

#agree-info.container .info-contents .form table tr .input-box button {
  width: 18%;
  height: 50px;
  border-radius: 5px;
  margin-left: 1%;
  background: #4d8fd0;
  color: #fff;
  border: 0;
  outline: 0;
  letter-spacing: -1px;
}

#agree-info.container .info-contents .form table tr .input-box p {
  color: #9d9d9d;
  padding-top: 5px;
}

#agree-info.container .info-contents .form table tr .input-box.id input {
  width: 80%;
}

#agree-info.container .info-contents .form table tr .input-box.name p {
  color: #d00000;
}

#agree-info.container .info-contents .form table tr .input-box.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#agree-info.container .info-contents .form table tr .input-box.phone select {
  width: 30%;
  background: #eee;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
}

#agree-info.container .info-contents .form table tr .input-box.phone input {
  width: 32%;
  position: relative;
}

#agree-info.container .info-contents .form table tr .input-box.phone span {
  padding: 0 2px;
  color: #9d9d9d;
}

#agree-info.container .info-contents .form table tr .input-box.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#agree-info.container .info-contents .form table tr .input-box.email input {
  width: 32%;
}

#agree-info.container .info-contents .form table tr .input-box.email select {
  width: 30%;
  background: #eee;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  line-height: 50px;
}

#agree-info.container .info-contents .form table tr .input-box.address input#address {
  width: 70%;
  margin-bottom: 5px;
}

#agree-info.container .info-contents .form table tr .input-box.address button {
  width: 28.5%;
}

#agree-info.container .fin-btn {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#agree-info.container .fin-btn button {
  width: 300px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  border: 1px solid #4d8fd0;
  background: #fff;
  color: #4d8fd0;
  font-size: 18px;
  letter-spacing: -1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#agree-info.container .fin-btn button:hover {
  background: #4d8fd0;
  color: #fff;
}
