section {
  margin-top: 50px;
}

#detail_page .tour_bigmenu h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

#detail_page .tab_page_cont {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#detail_page .tab_page_cont li {
  display: table-cell;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ddd;
  border-left: none;
  border-bottom: 1px solid #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7;
  text-align: center;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

#detail_page .tab_page_cont li:first-child {
  border-left: 1px solid #ddd;
}

#detail_page .tab_page_cont li.on {
  border: 1px solid #222;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-indent: -1px;
  color: #222;
}

#detail_page .tab_page_cont li a {
  display: block;
  width: 100%;
  height: 60px;
}

#detail_page .block_tit_area {
  position: relative;
  padding: 7px 0 10px 0;
  margin: 40px 0 20px 0;
  margin-top: 30px;
  padding-bottom: 10px;
}

#detail_page .block_tit_area.line {
  border-bottom: 1px solid #ddd;
}

#detail_page .block_tit_area .p_align_right {
  position: relative;
  min-height: 20px;
}

#detail_page .block_tit_area .p_align_right .txt_nor_info {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  padding-left: 10px;
  font-size: 14px;
  text-align: right;
}

#detail_page .block_tit_area .p_align_right .txt_nor_info .txt_normal {
  line-height: 24px;
  color: #222 !important;
}

#detail_page .cont_tour_agree {
  display: none;
}

#detail_page .cont_tour_agree .tit_skip {
  overflow: hidden;
  height: 0;
  line-height: 24px;
}

#detail_page .cont_tour_agree .wrap_agree .tit {
  line-height: 24px;
  font-size: 16px;
  color: #222;
}

#detail_page .cont_tour_agree .wrap_agree .tit_sub {
  margin-top: 20px;
  line-height: 24px;
  font-size: 16px;
  color: #222;
}

#detail_page .cont_tour_agree .wrap_agree p {
  margin-top: 5px;
  line-height: 26px;
  font-size: 15px;
  color: #555;
}

#detail_page .cont_tour_agree .wrap_agree .list_number {
  list-style: none;
  counter-reset: list-counter;
  margin-top: 16px;
  padding-left: 16px;
}

#detail_page .cont_tour_agree .wrap_agree .list_number li {
  padding-left: 4px;
  font-size: 15px;
  line-height: 28px;
  text-align: left;
}

#detail_page .cont_tour_agree .wrap_agree .list_number .list_nostyle {
  padding-left: 18px;
  margin-top: 8px;
}
