@import "variable";
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 100px;
    h2 {
        font-size: 32px;
        font-weight: $font-weight-500;
        padding: 50px 0;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: $font-size-18;
        position: relative;
        padding-left: 10px;
        &::before {
            content: "";
            display: inline-block;
            width: 5px; height: 5px;
            background: $main-color;
            border-radius: 50%;
            position: absolute;
            top: 50%; left: 0;
            transform: translate(-50%);
        }
    }
    #company_outline {
        table {
            width: 100%;
            margin: 30px 0 50px;
            tr {
                height: 60px;
                border: 1px solid #eee;
                th {
                    width: 10%;
                    font-weight: $font-weight-nomal;
                    text-align: left;
                    border-right: 1px solid #eee;
                    background: #f8f8f8;
                    padding: 0 20px;
                    font-size: $font-size-15;

                }
                td {
                    width: 23%;
                    border-right: 1px solid #eee;
                    padding: 0 20px;
                }
            }
            
        }
    }
    #management {
        height: 550px;
        background: url('/src/img/Aboutus/manage_figure.png') center center no-repeat;
        position: relative;
        .philosophy {
            width: 320px;
            &.phil-text1 {
                text-align: right;
                position: absolute;
                top: 17%; left: 60px;
            }
            &.phil-text2 {
                text-align: left;
                position: absolute;
                top: 17%; right: 60px;
            }
            &.phil-text3 {
                text-align: left;
                position: absolute;
                bottom: 17%; right: 60px;
            }
            &.phil-text4 {
                text-align: right;
                position: absolute;
                bottom: 17%; left: 60px;
            }
            h5 {
                font-size: $font-size-18;
                font-weight: $font-weight-500;
                padding-bottom: 10px;
            }
            p {
                font-size: $font-size-16;
                line-height: 1.2;
            }
            
        }
    }
    #business {
        .business-container {
            padding: 50px 0 60px;
            display: flex;
            justify-content: space-between;
            .business-content {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                position: relative;
                &:not(:last-child)::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 300px;
                    background: #eee;
                    position: absolute;
                    top: 50%; right: -30px;
                    transform: translateY(-50%);
                }
                .busi-icon {
                    width: 150px; height: 150px;
                    border-radius: 50%;
                    border: 3px solid $main-color;
                    background: #f8f8f8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h5 {
                    padding: 20px 0 5px;
                    font-size: 22px;
                }
                p {
                    font-size: $font-size-18;
                    color: $main-color;
                    padding-bottom: 5px;
                    font-weight: $font-weight-500;
                }
                span {
                    text-align: center;
                    font-size: $font-size-16;
                    line-height: 1.2;
                    color: #777;
                }
            }
            
        }
    }
    #cooperation {
        ul {
            padding-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: 16%;
                border: 1px solid #eee;
                margin-bottom: 10px;
            }
        }
    }
}