//font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import "variable";

//공통 부분
body {
    font-size: $font-size-14;
    font-family: 'Noto Sans KR','NanumSquare','sans-serif';
    line-height: 1.5;
}

section{
    width: 100%;
    &:not(:last-child){ margin-bottom: 100px; }
    &:first-child{ margin-bottom: 190px; }
    .title {
        font-size: $font-size-30;
        font-weight: 700;
        span {
            color: $main-color;
        }
    }

}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
}
.view_icon {
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid $white-color;
    color: $white-color;
    text-align: center;
    line-height: 40px;
    border-radius: 19.5px;
    transition: 0.5s;
    &:hover {
        color: $white-color;
        background-color: $main-color;
        border: 1px solid $main-color;
    }
}
.item_more_icon {
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid $black-color;
    color: $black-color;
    text-align: center;
    line-height: 40px;
    border-radius: 19.5px;
    transition: 0.5s;
    &:hover {
        color: $white-color;
        background-color: $main-color;
        border: 1px solid $main-color;
    }
}
.circleL_icon {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid $light-gray;
    color: $light-gray;
    background-color: $white-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    z-index: 99;
    i {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.circleR_icon {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid $light-gray;
    color: $light-gray;
    background-color: $white-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    z-index: 99;
    i {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}