@import "variable";

#detail_page{
    margin-top: 50px;
    margin-bottom: 0;
    .content_block{
        position: relative;
        width: 1200px;
        padding-bottom: 100px;
        margin: auto;
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
        .content {
            float: right;
            width: 910px;
            min-height: 800px;
            .tit_con_title {
                margin-bottom: 20px;
                line-height: 1;
                font-size: 32px;
                color: #222;
                padding: 10px 0 20px 0;
                border-bottom: 2px solid #222;
            }
            .map_page {
                .office_pic {
                    margin: 40px 0;
                    display: flex;
                    &::after {
                        display: block;
                        clear: both;
                        content: '';
                    }
                    li {
                        float: left;
                        margin: 0 auto;
                        img {
                            width: 98%;
                            vertical-align: top;
                        }
                    }
                }
                .map_con {
                    width: 910px;
                    border: 1px solid #ddd;
                    box-sizing: border-box;
                    background: #f7f7f7;
                    .loadmap_area {
                        height: 388px;
                        img {
                            width: 100%;
                        }
                    }
                    .address_info {
                        padding: 36px 20px;
                        border-top: 1px solid #ddd;
                        background: #fff;
                        text-align: center;
                        .office_address {
                            line-height: 24px;
                            font-size: 18px;
                            color: #222;
                        }
                        .office_number {
                            margin-top: 10px;
                            text-align: center;
                            li {
                                position: relative;
                                display: inline-block;
                                line-height: 24px;
                                font-size: 15px;
                                color: #555;
                                span {
                                    margin-right: 18px;
                                    color: #222;
                                }
                            }
                        }
                    }
                }
                .transport_con {
                    margin-top: 40px;
                    .transport_type {
                        border-top: 1px solid #ddd;
                        padding: 34px 0;
                        .stit_con_title {
                            float: left;
                            width: 126px;
                            padding-left: 20px;
                        }
                        .detail_con {
                            float: right;
                            width: 764px;
                            .station_txt {
                                margin-bottom: 12px;
                                line-height: 30px;
                                font-size: 16px;
                                color: #222;
                            }
                            .detail_method {
                                li {
                                    line-height: 20px;
                                    font-size: 15px;
                                    color: #555;
                                    .flag_area {
                                        display: inline-block;
                                        margin-right: 16px;
                                        max-width: 56px;
                                        vertical-align: top;
                                    }
                                    .flag_sq {
                                        display: inline-block;
                                        line-height: 20px;
                                        padding: 0 7px;
                                        font-size: 12px;
                                        color: #fff;
                                        vertical-align: top;
                                    }
                                    .color_pp {
                                        background: #7587f1;
                                    }
                                    .method_txt {
                                        display: inline-block;
                                        vertical-align: top;
                                    }
                                }
                            }
                        }
                    }
                }
                .stit_con_title {
                    margin-bottom: 20px;
                    line-height: 1;
                    font-size: 24px;
                    color: #222;
                    
                }
            }
        }
    }
}