@import "variable";

#detail_page {
  margin-top: 50px;
  .content_block {
    position: relative;
    width: 1200px;
    padding-bottom: 100px;
    margin: auto;
    &::before {
      display: block;
      content: " ";
      clear: both;
    }
    .tit_con_title {
      margin-bottom: 50px;
      line-height: 1;
      font-size: 32px;
      color: #222;
      font-weight: $font-weight-500;
    }
    .tab_page_cont {
      display: table;
      width: 100%;
      table-layout: fixed;
      li {
        display: table-cell;
        height: 60px;
        line-height: 60px;
        border: 1px solid #ddd;
        border-left: none;
        border-bottom: 1px solid $main-color;
        box-sizing: border-box;
        background: #f7f7f7;
        text-align: center;
        font-size: 18px;
        color: #777;
        cursor: pointer;
        &.on {
          border: 1px solid $main-color;
          border-bottom: 1px solid #fff;
          background: #fff;
          text-indent: -1px;
          color: $main-color;
        }
        a {
          display: block;
          width: 100%;
          height: 60px;
        }
      }
    }
    .brd_search {
      margin: 40px 0;
      text-align: center;
      .txt_brd_search {
        width: 305px;
        height: 38px;
        line-height: 38px;
        padding: 0 10px;
        border: 1px solid #ddd;
        vertical-align: top;
        margin: 0 -4px 0 0;
        box-sizing: border-box;
        font-size: 15px;
      }
      .btn_nor {
        display: inline-block;
        width: 110px;
        height: 38px;
        line-height: 38px;
        margin: 0 16px;
        background: $main-color;
        font-size: 14px;
        color: #fff;
        text-align: center;
        vertical-align: top;
        cursor: pointer;
        overflow: visible;
        border: 0 none;
        font-weight: normal;
        text-indent: 0;
      }
    }
    .taplits {
      display: none;
      .eventing {
        .tbl_count {
          line-height: 1;
          margin-bottom: 10px;
          color: #222;
          strong {
            font-weight: 600;
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        .promotion_block {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding: 40px 0;
          font-size: 14px;
          color: #555;
          display: block;
          margin: 10px 0 0 0;
          .promotion_list {
            margin-left: -20px;
            margin-top: -40px;
            overflow: hidden;
            li {
              position: relative;
              width: 285px;
              margin-left: 20px;
              box-sizing: border-box;
              float: left;
              border: 1px solid #fff;
              margin-top: 40px;
              &:hover {
                border: 1px solid #ddd;
              }
              img {
                display: block;
                width: 283px;
                height: 195px;
              }
              .list_block_info {
                padding: 15px 15px 20px 15px;
                .tit_list_block {
                  min-height: 48px;
                  max-height: 48px;
                  margin-bottom: 20px;
                  line-height: 24px;
                  font-weight: 500;
                  font-size: 16px;
                  color: #222;
                  display: -webkit-box;
                  white-space: normal;
                  word-break: break-all;
                  overflow: hidden;
                }
                .list_date {
                  display: block;
                  margin: -5px 0 26px 0;
                  line-height: 1;
                  font-size: 14px;
                  color: #555;
                  &::before {
                    content: "";
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .eventend {
        .tbl_count {
          line-height: 1;
          margin-bottom: 10px;
          color: #222;
          strong {
            font-weight: 600;
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        .promotion_block {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding: 40px 0;
          font-size: 14px;
          color: #555;
          display: block;
          margin: 10px 0 0 0;
          .promotion_list {
            margin-left: -20px;
            margin-top: -40px;
            overflow: hidden;
            li {
              position: relative;
              width: 285px;
              margin-left: 20px;
              box-sizing: border-box;
              float: left;
              border: 1px solid #fff;
              margin-top: 40px;
              &:hover {
                border: 1px solid #ddd;
              }
              img {
                display: block;
                width: 283px;
                height: 195px;
              }
              .list_block_info {
                padding: 15px 15px 20px 15px;
                .tit_list_block {
                  min-height: 48px;
                  max-height: 48px;
                  margin-bottom: 20px;
                  line-height: 24px;
                  font-weight: 500;
                  font-size: 16px;
                  color: #222;
                  display: -webkit-box;
                  white-space: normal;
                  word-break: break-all;
                  overflow: hidden;
                }
                .list_date {
                  display: block;
                  margin: -5px 0 26px 0;
                  line-height: 1;
                  font-size: 14px;
                  color: #555;
                  &::before {
                    content: "";
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .eventwinner {
        .tbl_count {
          line-height: 1;
          margin-bottom: 10px;
          color: #222;
          strong {
            font-weight: 600;
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        .tbl_board {
          width: 100%;
          border-top: 1px solid #222;
          th {
            height: 60px;
            padding: 0 20px;
            border-bottom: 1px solid #ddd;
            background: #f7f7f7;
            color: #222;
            text-align: center;
          }
          td {
            height: 60px;
            padding: 0 20px;
            line-height: 25px;
            border-bottom: 1px solid #ddd;
            letter-spacing: -0.02em;
            text-align: center;
            vertical-align: middle;
            .date {
              font-size: 15px;
            }
          }
          .title_link {
            position: relative;
            display: block;
            width: 550px;
            padding-right: 20px;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            color: #222;
          }
        }
      }
    }
    .page {
      height: 30px;
      line-height: 30px;
      margin: 40px 0 0 0;
      text-align: center;

      span {
        display: inline-block;
        width: 25px;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        box-sizing: border-box;
        vertical-align: top;
        span {
          position: absolute;
          width: 1px;
          height: 1px !important;
          padding: 0;
          margin: -1px;
          border: none;
          clip: rect(0 0 0 0);
          overflow: hidden;
        }
      }
      .btn_page_first {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        background: url("/src/img/icon/btn_page_first.png") no-repeat 0 0;
        &:hover {
          border: none;
          background-position: 0 -30px;
        }
      }
      .btn_page_prev {
        margin-right: 13px;
        width: 30px;
        height: 30px;
        background: url("/src/img/icon/btn_page_prev.png") no-repeat 0 0;
        &:hover {
          border: none;
          background-position: 0 -30px;
        }
      }
      a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 2px;
        margin: 0 5px;
        box-sizing: border-box;
        font-size: 14px;
        color: #777;
        vertical-align: top;
        text-align: center;
        &.on {
          border-bottom: 1px solid #222;
          letter-spacing: -0.05em;
          color: #222;
        }
        &:hover {
          border-bottom: 1px solid #222;
          color: #222;
        }
      }
      .btn_page_next {
        margin-left: 13px;
        width: 30px;
        height: 30px;
        background: url("/src/img/icon/btn_page_next.png") no-repeat 0 0;
        &:hover {
          border: none;
          background-position: 0 -30px;
        }
      }

      .btn_page_last {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        background: url("/src/img/icon/btn_page_last.png") no-repeat 0 0;
        &:hover {
          border: none;
          background-position: 0 -30px;
        }
      }
      .disabled {
        background-position: 0 100%;
        &:hover {
          background-position: 0 100%;
        }
      }
    }
  }
}
