@import "variable";

#detail_page{
    margin-top: 50px;
    .content_block {
        position: relative;
        width: 1200px;
        padding-bottom: 100px;
        margin: auto;
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
        .promotion_view {
            position: relative;
            width: 100%;
            margin-bottom: 40px;
            overflow: hidden;
            &.img_block {
                text-align: center;
                img {
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .blind_ir {
                position: absolute;
                width: 1px;
                height: 1px !important;
                padding: 0;
                margin: -1px;
                border: none;
                clip: rect(0 0 0 0);
                overflow: hidden;
            }

        }
        .btn_area {
            margin: 40px 0;
            text-align: center;
            .btn_cof {
                cursor: pointer;
                overflow: visible;
                border: 0 none;
                font-weight: normal;
                text-indent: 0;
                display: inline-block;
                width: 140px;
                height: 50px;
                line-height: 50px;
                margin: 0 4px;
                background: #555;
                font-size: 18px;
                color: #fff;
                vertical-align: top;
                text-align: center;
                &.cfrm {
                    background: #ffc72c !important;
                    color: #222 !important;
                }
            }
        }
    }
}