//공통 부분 scss
@import "variable";

.product_box {
    position: relative;
    .show_travel {
        width: 100%;
        height: 350px;
        position: relative;
        overflow: hidden;
        .lists_travel {
            height: 100%;
            display: flex;
            .item_travel {
                height: 100%;
                border-radius: 15px;
                border: 1px solid $light-gray;
                img { border-radius: 15px 15px 0 0; width: 100%; height: 176px;}
            }
        }
    }
}



//비주얼
#visual {
    .show_visual {
        width: 100%;
        height: 550px;
        overflow: hidden;
        .lists_visual {
            width: auto;
            height: 100%;
            // overflow: hidden;
            // position: relative;
            .jejudo {
                color: $white-color;
                // @include position($t: 0, $l: 0);
                display: block;
            }
            .philippines {
                color: $white-color;
                // @include position($t: 0, $l: 50%);
                display: block;
            }
            .item_visual {
                width: 50%;
                img {
                    width: 100%;
                    min-height: 550px;
                }
                div {
                    @include position($t: 50%, $l: 18.5%);
                    transform: translateY(-50%);
                    h3 {
                        font-size: 40px;
                    }
                    > p { 
                        font-size: 20px;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

//검색
#search {
    height: 160px;
    margin-top: -260px;
    position: relative;
    z-index: 99;
    > div {
        width: 100%;
        height: 100%;
        background-color: $white-color;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 3px 0px 16px rgba(0,0,0,0.3);
        ul {
            height: 70px;
            line-height: 70px;
            display: flex;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            li {
                padding-left: 60px;
                &.selected {
                    color: $main-color;
                }
            }
        }
        .package {
            display: flex;
            div {
                width: 30%;
                height: 90px;
                padding: 0 60px;
                @include flex;
                &:not(:last-child) {
                    border-right: 1px solid #ccc;
                }
                img {
                    width: 22px;
                    height: 22px;
                }
                p {
                    color: #888;
                    span {
                        font-size: 16px;
                        color: #333;
                    }
                }
            }
            button {
                width: 10%;
                height: 90px;
                background-color: $main-color;
                color: #fff;
                font-size: 16px;
                outline: none;
                border: none;
            }
        }
    }
}

// 해외여행
#oversea {
    margin-top: 100px;
    .title_box {
        @include flex;
        margin-bottom: 45px;
    }
}