@import "variable";

#mypage {
    width: 100%;
    height: auto;
    padding-top: 40px;
    letter-spacing: -1px;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        #mypage_left {
            width: 22%;
            height: 100%;
            padding-right: 40px;
            #mypage_side_menu {
                height: auto;
                border: 1px solid #9d9d9d;
                padding-top: 20px;
                h2 {
                    padding-left: 20px;
                    font-size: $font-size-24;
                    margin-bottom: 20px;
                }
                > ul {
                    .side_menu {
                        cursor: pointer;
                        font-size: $font-size-16;
                        line-height: 40px;
                        > a {
                            border-top: 1px solid $gray-color;
                            border-bottom: 1px solid $gray-color;
                            margin-bottom: -1px;
                            padding-left: 20px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            &:hover {
                                background-color: $main-color;
                                color: $white-color;
                            }
                            &.on {
                                background-color: $main-color;
                                color: $white-color;
                            }
                        }
                        > ul {
                            display: none;
                            font-size: $font-size-14;
                            color: $dark-gray;
                            li {
                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 35px;
                                    &:hover {
                                        background-color: $main-color;
                                        color: $white-color;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
        #mypage_right {
            width: 78%;
            height: auto;
            #mypage_title {
                width: 100%;
                h1 {
                    font-size: $font-size-33;
                    padding: 20px 0;
                    span {
                        &:nth-child(1) {
                            color: $main-color;
                            font-weight: $font-weight-bold;
                        }
                        &:nth-child(2) {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
            .mypage_btn_link {
                display: flex;
                justify-content: space-between;
                margin: 30px 50px;
                li {
                    text-align: center;
                    display: flex;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        background-color: $light-gray;
                        margin: 0 57px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        p {
                            font-size: $font-size-18;
                            display: flex;
                            justify-content: center;
                            i {
                                font-size: 65px;
                            }
                            span {
                                display: inline-block;
                                color: $main-color;
                                font-size: $font-size-36;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            #reservation {
                padding-top: 30px;
                .reser_btn {
                    display: flex;
                    justify-content: space-between;
                    h3 {
                        font-size: $font-size-24;
                    }
                    ul {    
                        display: flex;
                        li {
                            width: 110px;
                            height: 38px;
                            line-height: 38px;
                            font-size: 14px;
                            text-align: center; 
                            &:nth-child(1) {
                                color: $white-color;
                                background: $black-color;
                            }
                            &:nth-child(2) {
                                border: 1px solid $light-gray;
                                margin-left: 5px;
                            }
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .reser_sub {
                    height: 100px;
                    margin-top: 10px;
                    border: 1px solid $light-gray;
                    padding: 35px 40px;
                    margin-bottom: 60px;
                    .booking_count {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            width: 45%;
                            span {
                                height: 24px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: $font-size-16;
                                a {
                                    display: inline-block;
                                    em {
                                        font-size: $font-size-22;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #activity {
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                .act {
                    width: 48%;
                    h3 {
                        font-size: $font-size-24;
                        margin-bottom: 20px;
                    }
                    ul {
                        padding: 25px 40px;
                        height: 255px;
                        background-color: $more-light-gray;
                        li {
                            font-size: $font-size-16;
                            line-height: 48px;
                            span {
                                display: flex;
                                justify-content: space-between;
                                em {
                                    font-size: $font-size-22;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }   
            }
            #goods {
                margin-bottom: 60px;
                h3 {
                    font-size: $font-size-24;
                    margin-bottom: 20px;
                }
                .lately {
                    display: flex;
                    justify-content: space-between;
                    .goods {
                        width: 48%;
                        .more_btn {
                            height: 30px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            h4 {
                                font-size: $font-size-18;
                            }
                            a {
                                display: block;
                                width: 18px;
                                height: 18px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .detailgoods {
                            height: 258px;
                            padding: 20px 0;
                            border-top: 1px solid $light-gray;
                            border-bottom: 1px solid $light-gray;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            &.black_goods {
                                position: relative;
                            }
                            .detail_img {
                                display: flex;
                                justify-content: flex-start;
                                margin-bottom: 30px;
                                .img {
                                    position: relative;
                                    margin-right: 20px;
                                    img {
                                        display: block;
                                        width: 210px;
                                        height: 150px;
                                    }
                                    p {
                                        width: 55px;
                                        font-size: $font-size-12;
                                        height: 55px;
                                        line-height: 55px;
                                        background-color: $main-color;
                                        color: $white-color;
                                        text-align: center;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                                .text {
                                    ul {
                                        font-size: $font-size-14;
                                        li {
                                            position: relative;
                                            p {
                                                position: absolute;
                                                left: 60px;
                                                top: 0;
                                                line-height: 24px;
                                                i {
                                                    line-height: 24px;
                                                }
                                                span {
                                                    width: 50px;
                                                    position: absolute;
                                                    left: 25px;
                                                    top: 0;
                                                }
                                            }
                                            
                                        }
                                        .text_title {
                                            font-size: $font-size-16;
                                            padding-bottom: 8px;
                                        }
                                        .price {
                                            font-size: $font-size-16;
                                            color: $main-color;
                                            padding-top: 8px;
                                        }
                                    }
                                    .price_text {
                                        margin-top: 10px;
                                        li {
                                            .blue_color {
                                                color: $main-color;
                                                font-size: $font-size-16;
                                            }
                                            span {
                                                padding: 0 15px;
                                            }
                                        }
                                    }
                                }
                            }
                            .detail_btn {
                                display: flex;
                                justify-content: space-between;
                                ul {
                                    display: flex;
                                    &.social {
                                        li {
                                            width: 36px;
                                            height: 36px;
                                            border: 1px solid $light-gray;
                                            position: relative;
                                            cursor: pointer;
                                            margin-right: -1px;
                                            i {
                                                color: $dark-gray;
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                            }
                                        }
                                    }
                                    &.btn {
                                        li {
                                            width: 110px;
                                            height: 38px;
                                            line-height: 38px;
                                            font-size: 14px;
                                            text-align: center;
                                            border: 1px solid;
                                            &:nth-child(1) {
                                                border: 1px solid $light-gray;
                                                margin-right: 5px;
                                            }
                                            &:nth-child(2) {
                                                color: $white-color;
                                                background: $black-color;
                                            }
                                            a {
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }
                                    &.black_btn {
                                        li {
                                            &:nth-child(2) {
                                                color: $white-color;
                                                background: $dark-gray;
                                            }
                                        }
                                    }
                                }
                            }
                            .black_bg {
                                background-color: rgba($color: #000000, $alpha: 0.7);
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                font-size: $font-size-16;
                                color: $white-color;
                                text-align: center;
                                line-height: 258px;
                            }
                            .not_list {
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                line-height: 216px;
                                font-size: $font-size-16;
                            }
                        }
                    }
                }
            }
        }
    }
}