@import "variable";

section {
    margin-top: 50px;
}

#detail_page{
    .tour_bigmenu{
        h2 {
            font-weight: $font-weight-500;
            font-size: 32px;
            margin-bottom: 30px;
            &.line {
                padding: 10px 0 20px 0;
                margin-bottom: 40px;
                border-bottom: 2px solid #222;
            }
        }
    }
    .wrap_agree {
        padding:30px 40px;
        .tit_main_txt{
            margin-top: 40px;
            line-height: 28px;
            font-family: 'Noto_m';
            font-size: 18px;
            color: #222;
            &:first-child{
                margin: 0;
            }
        }
        .tit_sub {
            margin-top: 20px;
            line-height:24px; 
            font-size:16px; 
            color:#222;
        }
        .list_circle {
            margin-top: 8px;
            li {
                line-height: 24px;
                font-size: 15px;
                color: #555;
                margin-top: 8px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .tbl_vertical {
            margin-top: 10px;
            width:100%; 
            border-top:1px solid #222;
        }

        .tbl_basic, .tbl_vertical {
            margin-top:10px;
        }
        .tbl_basic {
            width:100%; 
            border-top:1px solid #222;
        }
        .tbl_basic th, .tbl_vertical th {
            height:auto; 
            padding:18px 0; 
            line-height:24px; 
            font-size:15px; 
            color:#222; 
            background:#f7f7f7; 
            vertical-align:middle;
            text-align:center;
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            &:first-child {
                border-left : 0;
            }
        }
        .tbl_basic td, .tbl_vertical td {
            height:40px; 
            padding:10px; 
            line-height:24px; 
            font-size:15px; 
            color:#555; 
            border-bottom:1px solid #ddd; 
            border-right:1px solid #ddd; 
            vertical-align:middle; 
            text-align:left;
        }
        .tbl_vertical 
        {
            td.right_line {
                border-right:1px solid #ddd;
            }
        }
        .tbl_basic td:last-child, .wrap_agree .tbl_vertical td:last-child {
            border-right:0 none;
        }
        .tbl_basic td.txt_center,.tbl_vertical td.txt_center {
            text-align:center;
        }
        .tbl_basic td.right_line {
            border-right:1px solid #ddd;
        }
        .tbl_basic td .type_btn, .tbl_vertical td .type_btn {
            position:relative; 
            display:block; 
            padding:0;
        }
        .tbl_basic td .btn_wit, .tbl_vertical td .btn_wit {
            position:absolute; 
            top:50%; 
            right:10px; 
            margin-top:-19px
        }
        .emp_txt {
            font-size:18px; 
            color:#222; 
        }
        
        .list_nostyle{
            padding-left: 18px;
            margin: 6px 0;
        }
        .list_number {
            margin-top: 8px;
            margin-left:16px;
            list-style:none; 
            counter-reset: list-counter;
            li {
                line-height:28px;
            }
        }
    }
}



