@import "variable";

#detail_page{
    margin-top: 50px;
    margin-bottom: 0;
    .content_block{
        position: relative;
        width: 1200px;
        padding-bottom: 100px;
        margin: auto;
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
        .content {
            float: right;
            width: 910px;
            min-height: 800px;
            .tit_con_title {
                margin-bottom: 20px;
                line-height: 1;
                font-size: 32px;
                color: #222;
                padding: 20px 0 30px 0;
                border-bottom: 2px solid #222;
            }
            .ico_tbl_must {
                background: url('/src/img/icon/ico_must.png') no-repeat;
                display: inline-block;
                width: 6px;
                height: 6px;
                vertical-align: middle;
            }
            .txt_tbl_info {
                margin-bottom: 10px;
                line-height: 1;
                font-size: 14px;
                text-align: right;
                margin-top: 40px;
            }
            .tbl_basic {
                width: 100%;
                border-top: 1px solid #ccc;
                th {
                    height: 75px;
                    padding: 0 25px;
                    border-bottom: 1px solid #ddd;
                    background: #f7f7f7;
                    color: #333;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 15px;
                    font-weight: 500;
                    label {
                        position: relative;
                        .ico_tbl_must {
                            position: absolute;
                            left: -10px;
                            top: 50%;
                            margin-top: -4px;
                        }
                    }
                }
                td {
                    height: 50px;
                    padding: 5px 20px;
                    border-right: none;
                    border-bottom: 1px solid #ddd;
                    vertical-align: middle;
                    text-align: left;
                    input {
                        width: 150px;
                        height: 38px;
                        line-height: 38px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        border: 1px solid #ddd;
                        vertical-align: middle;
                    }
                    .txt_at {
                        display: inline-block;
                        padding: 0 8px;
                    }
                    .select {
                        position: relative;
                        display: inline-block;
                        margin: 0 2px;
                        vertical-align: middle;
                        :first-child {
                            margin-left: 0;
                        }
                        .selectIn{
                            min-width: 100px;
                            max-width: 700px;
                            width: 100% !important;
                            height: 39px;
                            background: #fff;
                            border: 1px solid #ddd;
                            box-sizing: border-box;
                            position: absolute;
                            width: 100%;
                            margin-top: -20px;
                            padding-top: 0;
                            list-style: none;
                        }
                    }
                    .tbl_line {
                        padding: 10px 0;
                    }
                    textarea {
                        width: 700px;
                        height: 200px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        box-sizing: border-box;
                        color: #222;
                        resize: none;
                        font-size: 15px;
                    }
                    .emp_red {
                        color: #ff5c46 !important;
                    }
                }
            }
            .tbl_info_list {
                margin-top: 15px;
                li {
                    line-height: 24px;
                    padding-left: 13px;
                    font-size: 15px;
                    background: url('/src/img/icon/bl_info_dot.png') no-repeat 0 11px;
                }
                .emp_blue {
                    color: #4567ad !important;
                }
                .emp_red {
                    color: #ff5c46 !important;
                }
                em {
                    font-style: normal;
                    font-weight: normal;
                }
            }
            .btn_area {
                margin: 40px 0;
                text-align: center;
                button {
                    cursor: pointer;
                    overflow: visible;
                    border: 0 none;
                    font-weight: normal;
                    font-size: 15px;
                    color: #555;
                    text-indent: 0;
                }
                .btn_cof {
                    display: inline-block;
                    width: 140px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0 4px;
                    background: #555;
                    font-size: 18px;
                    color: #fff;
                    vertical-align: top;
                    text-align: center;
                }
                .cfrm {
                    background: #333 !important;
                    color: #fff !important;
                    font-size: 16px;
                }
            }
        }
    }
}  