@import "variable";

#reservation {
    width: 100%;
    height: 80vh;
    padding-top: 40px;
    letter-spacing: -1px;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        #reser_left {
            width: 22%;
            height: 100%;
            padding-right: 40px;
            #reser_side_menu {
                height: auto;
                border: 1px solid #9d9d9d;
                padding-top: 20px;
                h2 {
                    padding-left: 20px;
                    font-size: $font-size-24;
                    margin-bottom: 20px;
                }
                > ul {
                    .menu {
                        cursor: pointer;
                        font-size: $font-size-16;
                        line-height: 40px;
                        > a {
                            border-top: 1px solid $gray-color;
                            border-bottom: 1px solid $gray-color;
                            margin-bottom: -1px;
                            padding-left: 20px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            &:hover {
                                background-color: $main-color;
                                color: $white-color;
                            }
                            &.on {
                                background-color: $main-color;
                                color: $white-color;
                            }
                        }
                        > ul {
                            display: none;
                            font-size: $font-size-14;
                            color: $dark-gray;
                            &.on {
                                display: block;
                            }
                            li {
                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 35px;
                                    &:hover {
                                        background-color: $main-color;
                                        color: $white-color;
                                    }
                                    &.on {
                                        background-color: $main-color;
                                        color: $white-color;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
        #reser_right {
            width: 78%;
            height: auto;
            #reser_title {
                width: 100%;
                h1 {
                    font-size: $font-size-33;
                    padding: 20px 0;
                    span {
                        &:nth-child(1) {
                            color: $main-color;
                            font-weight: $font-weight-bold;
                        }
                        &:nth-child(2) {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
            #big_menu {
                ul {
                    height: 60px;
                    line-height: 58px;
                    display: flex;
                    justify-content: space-between;
                    .big_menu {
                        font-size: $font-size-18;
                        text-align: center;
                        cursor: pointer;
                        width: 312px;
                        border: 1px solid $light-gray;
                    }
                }
            }
            .small_menus {
                border-bottom: 1px solid $light-gray;
                height: 60px;
                > ul {
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: $font-size-16;
                    width: 250px;
                    .small_menu {
                        line-height: 60px;
                        height: 60px;
                        color: $gray-color;
                        &.on {
                            color: $black-color;
                            border-bottom: 3px solid $main-color;
                        }
                    }
                    span {
                        display: block;
                        content: "";
                        width: 1px;
                        height: 16px;
                        background-color: $gray-color;
                    }
                }
            } 
            .search_menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 40px 70px;
                height: 38px;
                font-size: $font-size-14;
                .search_day {
                    width: 100px;
                    height: 38px;
                    line-height: 36px;
                    font-size: $font-size-14;
                    padding: 0 10px;
                    border: 1px solid $light-gray;
                    appearance: none;
                    background: url(../img/icon/bl_sel_arrow.png) no-repeat;
                    background-position: right center;
                    background-size: 19px;
                    cursor: pointer;
                }
                > ul {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    border: 1px solid $light-gray;
                    height: 38px;
                    > li {
                        width: 70px;
                        height: 36px;
                        line-height: 36px;
                        &:not(:last-child) {
                            border-right: 1px solid $light-gray;
                        }
                        &.on {
                            background-color: $main-color;
                        }
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .calendar {
                    input {
                        width: 150px;
                        height: 38px;
                        line-height: 38px;
                        box-sizing: border-box;
                        border: 1px solid $light-gray;
                        vertical-align: middle;
                        background: url(../img/icon/ico_calendar.png) no-repeat right 10px top 50%;
                    }
                    span {
                        display: inline-block;
                        padding: 0 10px;
                    }
                }
                .btn_go {
                    width: 110px;
                    height: 38px;
                    line-height: 38px;
                    margin: 0 2px;
                    background: $black-color;
                    font-size: 14px;
                    color: $white-color;
                    text-align: center;
                    vertical-align: top;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }
            }
            .reser_list {
                .total {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    font-size: $font-size-14;
                }
                .list_menu {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid $black-color;
                    border-bottom: 1px solid $light-gray;
                    background-color: $gray-bg;
                    li {
                        text-align: center;
                        height: 60px;
                        line-height: 58px;
                        font-size: $font-size-15;
                        &:not(:last-child) {
                            border-right: 1px solid $light-gray;
                        }
                        &:nth-child(1) {
                            width: 145px;
                        }
                        &:nth-child(2) {
                            width: 90px;
                        }
                        &:nth-child(3) {
                            width: 195px;
                        }
                        &:nth-child(4) {
                            width: 90px;
                        }
                        &:nth-child(5) {
                            width: 60px;
                        }
                        &:nth-child(6) {
                            width: 110px;
                        }
                        &:nth-child(7) {
                            width: 110px;
                        }
                        &:nth-child(8) {
                            width: 110px;
                        }
                    }
                }
                .list {
                    height: 60px;
                    line-height: 58px;
                    text-align: center;
                    border-bottom: 1px solid $light-gray;
                }
            }
        }
    }
}