//공통 부분 scss
@import "variable";

#agree-info.container {
    letter-spacing: -1px;
    padding: 100px 0;
    width: 100%;
    .title {
        border-bottom: 2px solid $main-color;
        h2 {
            font-size: 38px;
            color: $main-color;
            text-align: center;
        }
        p {
            font-size: 18px;
            color: $dark-gray;
            text-align: center;
            font-weight: 200;
            padding-bottom: 50px;
        }
    }
    .info-contents {
        padding: 50px 0;
        border-bottom: 1px solid $light-gray;
        .joinbox {
            display: flex; 
            justify-content: center;
            div {
                width: 200px;
                text-align: center;
                height: 60px;
                line-height: 55px;
                border: 1px solid $main-color;
                border-radius: 30px;
                font-size: 18px;
                color: $main-color;
                font-weight: 500;
                background: $white-color;
                position: relative;
                span {
                    margin-right: 20px;
                }
                &:not(:last-child) {
                    margin-right: 60px;
                }
                &:not(:first-child)::before {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 1px;
                    background: $input-bg;
                    position: absolute;
                    top: 50%; left: -61px;
                    transform: translateY(-50%);
                }
            }
            div.agreebox {
                background: $main-color;
                color: $white-color;
            }
        }
        form {
            width: 60%;
            margin: 0 auto;
            padding-top: 50px;
        }
    }
}