//공통 부분 scss
@import "variable";

#signup_fin.container {
    letter-spacing: -1px;
    padding: 100px 0;
    width: 100%;
    .title {
        border-bottom: 2px solid $main-color;
        h2 {
            font-size: 38px;
            color: $main-color;
            text-align: center;
        }
        p {
            font-size: 18px;
            color: $dark-gray;
            text-align: center;
            font-weight: $font-weight-200;
            padding-bottom: 50px;
        }
    }
    .info-contents {
        padding: 50px 0;
        border-bottom: 1px solid $light-gray;
        .joinbox {
            display: flex; 
            justify-content: center;
            div {
                width: 200px;
                text-align: center;
                height: 60px;
                line-height: 55px;
                border: 1px solid $main-color;
                border-radius: 30px;
                font-size: $font-size-18;
                color: $main-color;
                font-weight: $font-weight-500;
                background: $white-color;
                position: relative;
                span {
                    margin-right: 20px;
                }
                &:not(:last-child) {
                    margin-right: 60px;
                }
                &:not(:first-child)::before {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 1px;
                    background: $input-bg;
                    position: absolute;
                    top: 50%; left: -61px;
                    transform: translateY(-50%);
                }
            }
            div.donebox {
                background: $main-color;
                color: $white-color;
            }
        }
        .join-fin {
            padding: 100px 0 80px;
            text-align: center;
            .text {
                h3 {
                    font-size: $font-size-26;
                    color: $main-color;
                    padding-bottom: 15px;
                }
                p {
                    font-size: $font-size-18;
                    line-height: 1.2;
                    font-weight: $font-weight-400;
                }
            }
        }
    }
    .btn {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        div {
            width: 250px;
            height: 60px;
            line-height: 60px;
            border-radius: 30px;
            border: 1px solid $main-color;
            margin-right: 20px;
            color: $main-color;
            font-size: 18px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                background: $main-color;
                color: $white-color;
            }
        }
    }
}