$main-color: #4d8fd0;
$gray-color: #9d9d9d;
$light-gray: #ccc;
$black-color: #333;
$red-color: #f1454c;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-38: 38px;

$font-weight-nomal: normal;
$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

#specialtrip {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  h2 {
    font-size: 32px;
    font-weight: $font-weight-500;
    padding: 50px 0;
  }
  // 슬라이드
  .slideimg-swiper {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .swiper-slide {
        height: 300px;
        width: 100%;
        position: relative;
        a {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 300px;
          }
        }
        .textbox {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 600px;
          height: 190px;
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 80px;
          h3 {
            font-size: $font-size-38;
            font-weight: $font-weight-700;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          }
          p {
            font-size: 20px;
            font-weight: 300;
          }
        }
      }
    }
  }
  #special_contents {
    padding: 80px 0;
    position: relative;
    #tab_btn {
      width: 100%;
      height: 50px;
      display: flex;
      li {
        width: 20%;
        height: 100%;
        text-align: center;
        line-height: 47px;
        background: #f9f9f9;
        transition: 0.5s;
        &:hover {
          a {
            color: $main-color;
            border: 1px solid $main-color;
          }
        }
        &.on {
          background: $main-color;
          a {
            color: #fff;
            border: 1px solid $main-color;
          }
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 16px;
          color: #9d9d9d;
          border: 1px solid #ccc;
          transition: 0.5s;
        }
      }
    }
    #special_items {
      padding: 50px 0 100px;
      position: relative;
      .item_contents {
        // width: 100%;
        display: none;
        flex-wrap: wrap;
        // justify-content: space-between;
        background: #fff;
        margin-left: -24px;
        &#honeymoonCon,
        &#europeCon,
        &#accomCon,
        &#liveCon {
          display: none;
          &.on {
            display: flex;
          }
        }
        &#all {
          height: 1150px;
          overflow: hidden;
          &.view {
            height: 4300px;
            .morebtn {
              display: none;
            }
          }
          &.on {
            display: flex;
          }
        }

        .itemBox {
          margin-left: 24px;
          width: 23%;
          height: 360px;
          border: 1px solid #ddd;
          margin-bottom: 24px;
          transition: 0.5s;

          &:hover {
            border: 1px solid $main-color;
            .itemImg {
              .blackbg {
                opacity: 1;
              }
            }
          }
          .itemImg {
            width: 100%;
            height: 200px;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
            .blackbg {
              opacity: 0;
              width: 100%;
              height: 200px;
              background: rgba(0, 0, 0, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.5s;
              a {
                display: block;
                width: 50%;
                border: 1px solid #fff;
                padding: 8px;
                border-radius: 22px;
                text-align: center;
                color: #fff;
              }
            }
          }
          .itemText {
            padding: 25px 30px;
            height: 160px;
            width: 100%;
            position: relative;
            h4 {
              font-size: $font-size-16;
              font-weight: 500;
              padding-bottom: 8px;
            }
            p {
              font-size: 15px;
              color: #777;
              width: 100%;
            }
            span {
              font-size: $font-size-14;
              font-weight: 300;
              color: #777;
              position: absolute;
              bottom: 25px;
              right: 30px;
            }
          }
        }
        .morebtn {
          width: 180px;
          height: 45px;
          margin: 20px auto 0;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translate(-50%);
          button {
            width: 100%;
            height: 100%;
            background: #fff;
            border: 1px solid $main-color;
            border-radius: 30px;
            font-size: $font-size-16;
            letter-spacing: -1px;
            color: $main-color;
            transition: 0.5s;
            &:hover {
              background: $main-color;
              color: #fff;
            }
          }
        }
      }
    }
    #topbtn {
      width: 50px;
      height: 50px;
      background: #fff;
      border: 1px solid $main-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      position: fixed;
      bottom: 100px;
      right: 250px;
      opacity: 1;
      &.view {
        opacity: 1;
      }
      &.on {
        position: absolute;
        // bottom: 200px;
        right: -100px;
      }
      img {
        width: 50%;
        margin: 0 auto;
      }
      p {
        text-align: center;
        color: $main-color;
        font-weight: $font-weight-500;
      }
    }
    
  }
  
}
