@import "variable";

#tour_menu {
    .tour_bigmenu {
        @include flex;
        h2 {
            margin-left: 15px;
            font-size: $font-size-22;
            line-height: 22px;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -15px;
                width: 3px;
                height: 25px;
                background-color: $main-color;
            }
        }
        ul {
            width: 300px;
            @include flex;
            li {
                width: 50px;
                &:not(:last-child) {
                    margin: 10px;
                }
            }
        }
    }
    .tour_smallmenu {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        border: 1px solid $light-gray;
        li {
            width: 25%;
            line-height: 50px;
            text-align: center;
            position: relative;
            transition: 0.5s;
            a {
                display: block;
                width: 100%;
            }
            &:not(:nth-child(4n)):before {
                content:"";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 50px;
                background-color: $light-gray;
            }
            &:after {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $light-gray;
                margin-bottom: -1px;
            }
            &:hover {
                color: #fff;
                background-color: $main-color;
            }
        }
    }
}
#tour_lists {
    .tour_item {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid $light-gray;
        .item_img {
            width: 25%;
            position: relative;
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .tour_level {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #fff;
                z-index: 10;
                &.high { background-color: orange; }
                &.middle { background-color: orchid; }
                &.low { background-color: blue;}
            }
            .departure_date {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: rgba(0,0,0,0.5);
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .item_info {
            width: 75%;
            padding: 0 20px;
            p {
                &:nth-child(1) {
                    font-size: $font-size-16;
                    margin-bottom: 10px;
                }
                &:nth-child(3) {
                    font-size: $font-size-16;
                    margin-bottom: 30px;
                    span {
                        font-size: $font-size-18;
                        font-weight: $font-weight-500;
                        color: $main-color;
                        float: right;
                    }
                }
                &.gray-font {
                    color: $dark-gray;
                }
            }
            h3 {
                font-size: $font-size-18;
                font-weight: $font-weight-500;
                margin-bottom: 10px;
            }
        }
    }
}