//font-size
$font-size-14: 14px;
$font-size-16: 16px;

//font-weight

// color
$main-color: #4d8fd0;
$white-color: #fff;
$black-color: #333;
$light-gray: #ccc;
$dark-gray:#888888;
$side-list-color:#c3e1ff;
