<div class="f_menu">
    <div class="container">
        <ul class="f_info">
            <li><a href="/common/Aboutus.html" title="회사소개">회사소개</a></li>
            <li><a href="/common/privacy.html" title="개인정보처리방침">개인정보처리방침</a></li>
            <li><a href="/common/internetagree.html" title="이용약관">이용약관</a></li>
            <li><a href="/common/travelagree.html" title="여행약관">여행약관</a></li>
            <li><a href="/common/travelerInsuInfo.html" title="여행자보험">여행자보험</a></li>
            <li><a href="/sevice/directionguide/index.html" title="찾아오시는길">찾아오시는길</a></li>
        </ul>
    </div>
</div>
<div class="f_copy">
    <div class="container">
        <div class="f_title">
            <div class="f_logo">
                <h1>
                    <img src="/wheretrip/src/img/logo/footer_logo.png" alt="wheretrip footer 로고">
                </h1>
            </div>
            <ul class="f_sns">
                <li><a href="#"><img src="src/img/sns/twitter.png" alt="트위터"></a></li>
                <li><a href="#"><img src="src/img/sns/instagtam.png" alt="인스타그램"></a></li>
                <li><a href="#"><img src="src/img/sns/youtube.png" alt="유튜브"></a></li>
                <li><a href="#"><img src="src/img/sns/facebook.png" alt="페이스북"></a></li>
                <li><a href="#"><img src="src/img/sns/naverblog.png" alt="블로그"></a></li>
            </ul>
        </div>
        <address>
            <div class="address">
                <span>(주) 웨어투어</span>
                <span>대표: 손민영</span>
                <span>사업자등록번호: 123-45-67890</span>
                <span>대표전화: <a href="tel:052-123-4567" title="전화하기"> 052-123-4567</a></span>
                <span>FAX: 052-123-4568</span>
                <span>이메일: <a href="#">wheretour@mail.com</a></span>
                <span>주소: 울산광역시 남구 삼산중로 100번길 26 케이엠빌딩</span>
            </div>
            <p>COPYRIGHTⓒ WHERETOUR SERVICE INC.ALL RIGHTS RESERVED</p>
        </address>
    </div>
</div>