<div id="top">
    <div class="container">
        <div class="top_menu_wrap">
            <ul class="top_menu_left">
                <li><a href="/specialtrip/index.html">기획전</a></li>
                <li><a href="/event/index.html">이벤트</a></li>
                <li><a href="/sevice/index.html">고객센터</a></li>
            </ul>
            <ul class="top_menu_right">
                <li><a href="/mypage/index.html">마이페이지</a></li>
                <li><a href="/member/login.html">로그인</a></li>
                <li><a href="/member/signup_agree.html">회원가입</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="nav">
    <div class="container">
        <div class="nav_menu">
            <h1 class="logo_wrap">
                <a href="/index.html" title="Wheretrip">
                    <img src="src/img/logo/header_logo.png" alt="Wheretrip 로고">
                </a>
            </h1>
            <ul>
                <li><a href="/index.html" title="wheretrip 메인페이지">HOME</a></li>
                <li class="menu" subSeq="0" id="overseas_travel"><p>해외여행</p></li>
                <li class="menu" subSeq="1" id="domestic_travel"><p>국내여행</p></li>
                <li class="menu" subSeq="2" id="hotel"><p>호텔/펜션</p></li>
                <li class="menu" subSeq="3" id="plan"><p>기획전</p></li>
            </ul>
        </div>
    </div>
</div>
<div id="sub_nav" class="container">
    <div class="sub_nav_body">
        <div id="side_list">
            <ul>
                <li class="leftsubtitle" subSeq="0"><a href="#">해외여행</a></li>
                <li class="leftsubtitle" subSeq="1"><a href="#">국내여행</a></li>
                <li class="leftsubtitle" subSeq="2"><a href="#">호텔/펜션</a></li>
                <li class="leftsubtitle" subSeq="3"><a href="#">기획전</a></li>
            </ul>
        </div>
        <div class="sub_wrap">
            <div class="sub_menu" id="sub_menu">
                <div class="sub_menu_title">
                    <div class="smenu_t">
                        <h2>해외여행</h2>
                        <div class="goMain" id="international_main">
                            <p>메인으로 이동</p>
                            <p class="rightIcon"><i class="material-icons">keyboard_arrow_right</i></p>
                        </div>
                    </div>
                    <!-- <div class="clear"> 
                        <i class="material-icons">clear</i>
                    </div> -->
                </div>
                <div id="sub_menu_list">
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="#">
                                    <p>자유여행</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_item"><a href="/international/freeList.html">동남아/대만/서남아</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">중국/홍콩/극동러시아</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">일본</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">유럽/아프리카</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">남태평양/호주/뉴질랜드</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">미주/중남미/하와이</a></li>
                        </ul>
                    </div>
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="#">
                                    <p>투어여행</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_item"><a href="/international/freeList.html">동남아/대만/서남아</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">중국/홍콩/극동러시아</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">일본</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">유럽/아프리카</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">남태평양/호주/뉴질랜드</a></li>
                            <li class="menu_item"><a href="/international/freeList.html">미주/중남미/하와이</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub_menu" id="sub_menu">
                <div class="sub_menu_title">
                    <div class="smenu_t">
                        <h2>국내여행</h2>
                        <div class="goMain" id="koreatrip_main">
                            <p>메인으로 이동</p>
                            <p class="rightIcon"><i class="material-icons">keyboard_arrow_right</i></p>
                        </div>
                    </div>
                    <!-- <div class="clear"> 
                        <i class="material-icons">clear</i>
                    </div> -->
                </div>
                <div id="sub_menu_list">
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="#">
                                    <p>국내투어여행</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_item"><a href="/koreatrip/koreaList.html">전국</a></li>
                            <li class="menu_item"><a href="/koreatrip/koreaList.html">기차여행</a></li>
                            <li class="menu_item"><a href="/koreatrip/koreaList.html">투어/입장권</a></li>
                            <li class="menu_item"><a href="/koreatrip/koreaList.html">골프여행</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub_menu" id="sub_menu">
                <div class="sub_menu_title">
                    <div class="smenu_t">
                        <h2>호텔/펜션</h2>
                    </div>
                    <!-- <div class="clear"> 
                        <i class="material-icons">clear</i>
                    </div> -->
                </div>
                <div id="sub_menu_list">
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="#">
                                    <p>호텔예약/펜션/풀빌라 예약</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_item"><a href="https://www.airbnb.co.kr/" target="blank">에어비엔비 (Airbnb)</a></li>
                            <li class="menu_item"><a href="https://kr.hotels.com/" target="blank">호텔스닷컴 (Hotels.com)</a></li>
                            <li class="menu_item"><a href="https://www.hotelscombined.co.kr/" target="blank">호텔스컴바인 (HotelsCombined)</a></li>
                            <li class="menu_item"><a href="https://www.trivago.co.kr/" target="blank">트리바고 (Trivago)</a></li>
                            <li class="menu_item"><a href="https://www.agoda.com/" target="blank">아고다 (Agoda)</a></li>
                        </ul>    
                    </div>
                </div>
            </div>
            <div class="sub_menu" id="sub_menu">
                <div class="sub_menu_title">
                    <div class="smenu_t">
                        <h2>기획전</h2>
                    </div>
                    <!-- <div class="clear"> 
                        <i class="material-icons">clear</i>
                    </div> -->
                </div>
                <div id="sub_menu_list">
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="/specialtrip/index.html">
                                    <p>허니문</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_title">
                                <a href="#">
                                    <p>제주 감성숙소</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                        </ul>    
                    </div>
                    <div class="menu_list">
                        <ul>
                            <li class="menu_title">
                                <a href="/specialtrip/index.html">
                                    <p>유럽 일주</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                            <li class="menu_title">
                                <a href="/specialtrip/index.html">
                                    <p>제주 한달살기</p>
                                    <p><i class="material-icons">keyboard_arrow_right</i></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>