<div>
    <img src="/wheretrip/src/img/icon/event_icon.png" alt="이벤트·행사">
    <p>이벤트·행사</p>
    <div class="show_event">
        <ul>
            <li>국내 항공권 구매 시 국내호텔 최대 25% 혜택 <span>더보기</span></li>
            <li>해외 항공권 구매 시 해외호텔 최대 30% 혜택 <span>더보기</span></li>
            <li>국내 호텔 리뷰 작성 시 500P 적립 <span>더보기</span></li>
            <li>국내 호텔 숙박 예약 시 하루 연장 <span>더보기</span></li>
        </ul>
    </div>
</div>
<div>
    <img src="/wheretrip/src/img/icon/pin_icon.png" alt="자주 찾는 질문">
    <p>자주 찾는 질문</p>
    <div class="show_event">
        <ul>
            <li>이티켓을 찾으려면 도우미 여행사를 방문해야 하나요? <span>더보기</span></li>
            <li>카드사 혜택을 적용하려면 어떻게 해야하나요? <span>더보기</span></li>
            <li>프로모션 기간에 구매한 상품의 환불 수수료 정책을 알고싶아요 <span>더보기</span></li>
        </ul>
    </div>
</div>